[2017-01-10 18:25] behdad commented on #197
That, and question I've asked million times before: why does NotoSansEhtiopic has such big kern table?

[2017-01-17 14:16] JelleBosmaMT commented on #224
When we created a specification for the Noto fonts, Google decided to use 200 for the ExtraLight and 100 for the Thin weights. The consideration was that the few legacy Windows apps that might smear was not a problem.

[2017-01-17 15:48] JelleBosmaMT commented on #224
I should add:
If you do not have a custom parameter Glyphs will cap the usWeightClass at 250 when generating a font.
If there is a custom parameter then Glyphs will use the value set by it.

So any software that generates fonts from Glyphs files, should do the same. The decision is taken by the designer of the font, not the software.

[2017-01-17 16:33] davelab6 commented on #224
Has that been published? :)

[2017-01-17 16:38] JelleBosmaMT commented on #224
It is a shared Google Doc.

On 17-jan.-17 17:33, "Dave Crossland" <notifications@github.com> wrote:

[2017-01-17 16:38] davelab6 commented on #224
URL? :)

[2017-01-17 16:40] JelleBosmaMT commented on #224
I don’t know if it is up to me to share this on GitHub. If you have any
business with it, you can ask the Google team for it.

[2017-01-17 16:50] davelab6 commented on #224
Sorry I misunderstood, I thought you were saying it was a **published** Google Doc =)

[2017-01-18 00:21] dougfelt commented on #224
@jungshik, care to comment?  We had talked about this in December.

[2017-01-18 00:29] jungshik commented on #224
'250' for the lower bound comes from a compatibility consideration with Windows GDI. All other targets (including newer Windows API) can handle 100 ~ 900.
In my opinion, we should use the full range (100 ~ 900) by default (Android, Mac, Linux do not have any issue). If we do need to care about Windows GDI, a Windows-GDI-specific 'hack' can be added (e.g. fix up usWeightClass to be 250 or larger wh

[2017-01-18 09:14] brawer commented on #224
Duplicate of https://github.com/googlei18n/fontmake/issues/167?

[2017-01-18 09:34] JelleBosmaMT commented on #224
In #167 it looks if the weight axis is using Glyphs weight interpolation
values rather than the weightClass values of the instances that have these
interpolation values. So no, it is not a duplicate. Although if for #167
you start looking at the weightClass values, you have to make sure you get
the right values: use the custom parameter if it is there.

[2017-01-18 10:13] anthrotype commented on #224
as @moyogo explained in https://github.com/googlei18n/fontmake/issues/224#issuecomment-269011274, it looks like this is glyphsLib issue (not using `weightClass` custom parameter when setting the generated `ufo.info. openTypeOS2WeightClass`, so it should be re-opened under https://github.com/googlei18n/glyphsLib/issues/new

[2017-01-19 17:55] davelab6 commented on #224
Google Fonts certainly needs to care about Windows GDI users :)

[2017-01-21 01:25] jungshik commented on #224
@davelab6 If you care, you can certainly serve modified versions with usWeightClass lowerlimit set to 250 to Windows GDI clients. I don't want Noto to be bogged down by WIndows GDI clients.

[2017-01-24 21:40] marekjez86 opened #229 "DeltaFormat in XPlaDevice table is supposed to be 1, 2, or 3"
1. go to https://github.com/googlei18n/noto-fonts/tree/master/alpha/from-pipeline/unhinted/variable
2. try to open any file there using the Glyphs.app ; the content cannot be opened (that's not the case for the variable fonts generated in the Glyphs.app - all of them can be opened by it)

This is either the pipeline problem or the Glyphs.app problem. Not certain which (help is needed :-)).

[2017-01-25 11:29] brawer opened #230 "MutatorMath warnings when generating instances for NotoSansMyanmar"
When using fontmake to generate instances, MutatorMath prints warnings. How to fix these?

[code]

And so on. Similar warnings are generated for all instances, omitting the full log for brevity.

[2017-01-25 13:12] anthrotype commented on #230
BTW, with python3.6 these mutatorMath 'errors' are 602, instead of just 41:

[code]

fontmake can't even complete, as ufo2ft later on fails with:
[code]

[2017-01-25 13:22] anthrotype commented on #230
It has something to do with `mutatorMath.ufo.instance.InstanceWriter._calculateGlyph` failing to complete, however all exceptions are sucked in this catch-all try/except:

https://github.com/LettError/MutatorMath/blob/9d194c020e6f5b2203dd3bbc92782ec09832304f/Lib/mutatorMath/ufo/instance.py#L349-L352

[2017-01-25 13:37] anthrotype commented on #230
anyway, it probably just means those glyph are not compatible for interpolation (wrong contour order, non-matching starting point, number and type of segments, etc.).
They must be checked one by one.

[2017-01-25 13:38] anthrotype commented on #230
The mis-match between python2 and python3 as to the number of erroring glyphs is more worrying from my point of view -- but that's a separate issue which should be raised in mutatorMath repo.

[2017-01-26 22:53] behdad opened #232 "Fails building NotoSansArabic-MM.glyphs"
Used to work.  Now I get:

[code]

Sascha, can we 1. make feaLib+fontmake save the failing feature file somewhere? 2. make it print out a pretty listing of the failure location?

Or any other way to debug and fix this first? :)

Thanks.

[2017-01-26 22:53] behdad commented on #232
cc @marekjez86

[2017-01-26 22:53] behdad commented on #232
This is how I'm invoking fontmake BTW:
[code]

[2017-01-26 22:59] marekjez86 commented on #232
cd noto-source
fontmake  -g src/NotoSansArabic-MM.glyphs -o variable
works for me

[2017-01-26 23:05] marekjez86 commented on #232
Other fonts displaying the same error (but Arabic seems to be the smallest test case)

fontTools.feaLib.error.FeatureLibError: /Users/marekj/newrel/noto-source/master_ufo/NotoSans-CondensedBold.ufo/features.fea:845:26: Expected a number
fontTools.feaLib.error.FeatureLibError: /Users/marekj/newrel/noto-source/master_ufo/NotoSansArabic-Condensed.ufo/features.fea:1407:36: Expected a number
fontTools.

[2017-01-26 23:12] behdad commented on #232
Ok, looks to me like feaLib is not happy that non-integers ended up in the .fea file:
[code]
Sascha, others, any idea how this crept in?  Or was the source really changed to include non-integer kerning?  If these are not valid in fea format, we should round when producing fea.

[2017-01-26 23:13] behdad commented on #232
Ok I see the 803.25 in the source file. `position = "{803.25, 0}";`
We shall round those.  I'll take a look.

[2017-01-26 23:23] behdad commented on #232
Reopening to roll glyphsLib req forward.

[2017-01-27 00:55] #232 closed

[2017-01-27 02:42] marekjez86 opened #233 "src/NotoSerifSinhala/NotoSerifSinhala-MM.plist stopped building"
see the bottom for the error

built with
fonttools==3.6.0
cu2qu==1.1.1
glyphsLib==1.3.0
ufo2ft==0.3.1
MutatorMath==2.0.1
defcon==0.2.1
booleanOperations==0.6.4

============= src/NotoSerifSinhala/NotoSerifSinhala-MM.plist ==============
INFO:fontmake.font_project:Checking Glyphs source for illegal glyph names
INFO:fontmake.font_project:Building master UFOs and designspace from Glyphs source
INFO:g

[2017-01-27 13:11] marekjez86 opened #234 "56 source file compilations get now KeyError: 'Cc' (they didn't a couple of days ago)"
Is this a newly caught source error?
56 source file compilations get now KeyError: 'Cc' (they didn't a couple of days ago)

for example, for https://github.com/googlei18n/noto-source/blob/master/src/gNotoSansLisu.glyphs

pipeline now produces

============= src/gNotoSansLisu.glyphs ==============
INFO:fontmake.font_project:Checking Glyphs source for illegal glyph names
INFO:fontmake.font_project:B

[2017-01-27 13:42] anthrotype commented on #234
It was a problem which occurred with so-called "narrow" Python 2.7 builds (built with UCS2 instead of UCS4), which is the norm for macOS and Windows python distributions; on Linux python is usually built with "wide" unicode support that's why the glyphsLib Travis CI did not catch this.

I believe I have fixed the issue with this commit, which is included in the latest v1.3.0 version of glyphsLib:

[2017-01-27 14:01] marekjez86 opened #235 "source problem or code? same assert fails GX for NotoSansThai-MM.glyphs and NotoSansThaiUI-MM.glyphs"
We can now build src/NotoSerifThai-MM.glyphs

However we still cannot build https://github.com/googlei18n/noto-source/blob/master/src/NotoSansThai-MM.glyphs and https://github.com/googlei18n/noto-source/blob/master/src/NotoSansThaiUI-MM.glyphs

with exactly the same assertion

_AssertionError: ((13, [12, 13, 13, 11, 11, 11, 11, 11]), 'list', '.Class2Record', 'Class1Record', '[0]', 'list', '.Class1

[2017-01-27 14:19] marekjez86 opened #236 "NotoSansCherokee-MM.glyphs GX build assertion"
https://github.com/googlei18n/noto-source/blob/master/src/NotoSansCherokee-MM.glyphs

============= src/NotoSansCherokee-MM.glyphs ==============
INFO:fontmake.font_project:Checking Glyphs source for illegal glyph names
INFO:fontmake.font_project:Building master UFOs and designspace from Glyphs source
INFO:glyphsLib:Parsing .glyphs file
INFO:glyphsLib:Casting parsed values
INFO:glyphsLib:Loading t

[2017-01-27 14:25] marekjez86 opened #237 "NotoSerifArmenian-MM.glyphs and NotoSansArmenian-MM.glyphs GX build assertion"
https://github.com/googlei18n/noto-source/blob/master/src/NotoSansArmenian-MM.glyphs
https://github.com/googlei18n/noto-source/blob/master/src/NotoSerifArmenian-MM.glyphs

============= src/NotoSansArmenian-MM.glyphs ==============
INFO:fontmake.font_project:Checking Glyphs source for illegal glyph names
INFO:fontmake.font_project:Building master UFOs and designspace from Glyphs source
INFO:glyphs

[2017-01-27 16:16] marekjez86 commented on #234
@anthrotype : it is fixed. thank you

[2017-01-28 19:16] anthrotype commented on #234
See https://github.com/googlei18n/glyphsLib/issues/103

[2017-01-30 11:02] anthrotype commented on #234
this should now be fixed by https://github.com/googlei18n/glyphsLib/issues/105

[2017-01-30 11:02] #234 closed

[2017-01-30 16:27] marekjez86 opened #241 "TypeError: ('reduce() of empty sequence with no initial value' ...."
building a new delivery https://github.com/googlei18n/noto-source/blob/master/src/NotoSerifEthiopic-MM.glyphs

using
_./build variable src/NotoSerifEthiopic-MM.glyphs_
from noto-source (I'll try fontmake itself after breakfast :-))

I'd like to know if we have problem with the source or a problem in fontmake

INFO:fontmake.font_project:Checking Glyphs source for illegal glyph names
WARNING:fontmak

[2017-01-30 17:03] anthrotype commented on #241
I think this should fix it
https://github.com/fonttools/fonttools/pull/827

maybe @behdad or @brawer can have another look

[2017-01-30 18:09] #241 closed

[2017-01-30 18:26] brawer commented on #229
FontView can open these fonts just fine, so it’s probably a Glyphs bug (or perhaps an unimplemented feature). Closing this fontmake bug since fontmake works as intended, byt @schriftgestalt fyi.

[2017-01-30 19:27] marekjez86 commented on #241
@anthrotype : Thank you for fixing this. I verified the fix.

[2017-01-30 19:31] marekjez86 opened #243 "GPOS merging error while building NotoSerifEthiopic-MM.glyphs"
building a new delivery https://github.com/googlei18n/noto-source/blob/master/src/NotoSerifEthiopic-MM.glyphs

using
./build variable src/NotoSerifEthiopic-MM.glyphs
from noto-source

Is this a source issue or something in the pipeline?

INFO:fontmake.font_project:Checking Glyphs source for illegal glyph names
WARNING:fontmake.font_project:Found 555 glyph names containing hyphens: aGlottal-ethiopi

[2017-01-31 19:44] marekjez86 opened #245 "An observation: GlyphData.xml ignored for 11 cases/sources"
In the past, a custom GlyphData.xml was delivered along with Glyphs source files. The following deliveries have had GlyphData.xml included before, which we ignore (and not even store in noto-source):
NotoSansArabic
NotoSansArabicUI
NotoSansCherokee
NotoSansGeorgian
NotoSansHebrew
NotoSansMyanmar
NotoSansMyanmarUI
NotoSerifArmenian
NotoSerifGeorgian
NotoSerifHebrew
NotoSerifMyanmar

[2017-01-31 20:22] brawer commented on #245
To simplify the workflow and reduce the chance of things going wrong, could you make the Glyphs sources self-contained? According to https://github.com/googlei18n/glyphsLib/issues/12, “Glyphs can store production names in the .glyphs file now”. Not sure how to do this, but it’s surely explained somewhere on the forums.

[2017-01-31 20:27] brawer commented on #245
We could also compare the content of those custom files against the XML files in https://github.com/schriftgestalt/GlyphsInfo/, and resolve any differences. @marekjez86, could you find somebody locally who could write a little script? Shouldn’t take more than a few hours.

[2017-01-31 20:34] marekjez86 commented on #245
@brawer : I have placed the list for the record. For a while, MTI has been producing only standalone sources and they'll investigate what might be done here. I just didn't want to lose the track of the names of the sources that we need to deal with.

[2017-02-01 00:17] schriftgestalt commented on #229
I had a look at the files. It seems they have invalid Device tables:
[code]
everywhere I looked, DeltaFormat is supposed to be 1, 2, or 3.

[2017-02-01 00:28] marekjez86 commented on #229
@brawer : reopening per the above comment

[2017-02-01 08:41] schriftgestalt commented on #229
And I could not find out why ttx would not warn. There are asserts in the `read` method of the Device table...

[2017-02-01 09:09] anthrotype commented on #229
the code that defines DeltaFormat to `0x8000` is in `varLib.builder`:
https://github.com/fonttools/fonttools/blob/caa353d5dde1f8a0a0d1b80886d6e7c08aac5bc1/Lib/fontTools/varLib/builder.py#L145

that `buildVarDevTable ` function is then used in `varLib.merger` module:
https://github.com/fonttools/fonttools/blob/3717dc6549f5e4afd4b48e05577d138f3e875d9f/Lib/fontTools/varLib/merger.py#L471-L498

@behda

[2017-02-01 09:14] anthrotype commented on #229
https://www.microsoft.com/typography/otspec/chapter2.htm

[2017-02-01 09:36] schriftgestalt commented on #229
That explains it. Thanks.

[2017-02-01 23:16] robmck-ms opened #246 "Support glyphOrder custom parameter"
It would be helpful if fontmake/glyphsLib honored the glyphOrder custom parameter in Glyphs. This is useful when working with other tools that have a dependency on glyph order.

E.g. Selawik is hinted in VTT, with hint sources saved out to an XML file so I can re-apply hints anytime I rebuild the font. Trouble is, low-level code (e.g. OFFSET[]) has explicit glyph id references, thus once hinted, I

[2017-02-02 08:52] anthrotype commented on #246
I agree. We shall have glyphsLib honour the `glyphOrder` custom parameter if present, and set the generated UFO's `public.glyphOrder` accordingly, so that ufo2ft can use it when compiling the fonts.
I'll do that.

[2017-02-02 11:41] #246 closed

[2017-02-02 12:14] anthrotype commented on #246
@robmck-ms if you `pip install --upgrade glyphsLib`, you should get support for the `glyphOrder` custom parameter.

https://github.com/googlei18n/glyphsLib/releases/tag/v1.5.0
https://pypi.python.org/pypi/glyphsLib/1.5.0

[2017-02-02 18:37] robmck-ms commented on #246
You guys are fantastic! Thanks!

[2017-02-05 09:10] twardoch opened #247 "Assorted `fontmake` problems when building Schticks (2-axis varfont)"
I’ve run into a number of problems with `glyphsLib` and `fontmake` when trying to build Schticks Text, a 2-axis variable font based on the STIX Two Text fonts (OFL). The fonts I’m talking about are in the [https://github.com/twardoch/schticks-fonts-ofl](https://github.com/twardoch/schticks-fonts-ofl), `Schticks/Sources/25-gly-mm-width1` subfolder.

## Configuration

* Mac OS X 10.12.3
* Glyphs 2.4

[2017-02-06 15:02] brawer opened #249 "Fontmake should not “preprocess” glyphs sources"
fontmake currently has a “preprocess” function to handle glyph names with hyphens. (In Glyphs files, glyphs can contain hyphens in their names, but hyphens are not valid in Adobe feature files).

However, the current implementation is **extremely** fragile: It tries to extract glyph names from the glyphs source, under the (wrong) assumption that anything with a `name` property in the Glyphs source

[2017-02-06 15:05] anthrotype commented on #249
Totally agree. Anybody would like to takes this up?

[2017-02-06 15:58] brawer commented on #249
I’m a bit confused by the behavior of Glyphs.app. When I export a font to UFO, Glyphs happily produces UFOs with `features.fea` files whose glyph names contain dashes, which means they are in violation of [§2.f.i of the AFDKO syntax](http://www.adobe.com/devnet/opentype/afdko/topic_feature_file_syntax.html#2.f.i). The [UFO3 specification](http://unifiedfontobject.org/versions/ufo3/features.fea/) s

[2017-02-06 16:08] anthrotype commented on #249
I believe the features.fea should use the same names as those from the `name` attribute of the `glyphs/*.glif` files.
We already store the production names in the UFO `lib.postscriptNames`, which ufo2ft then uses to do the glyph renaming directly on the compiled font.

Does feaLib reject those glyph names?

[2017-02-06 16:16] moyogo commented on #249
The specs should be updated. There’s an issue for that https://github.com/adobe-type-tools/afdko/issues/152 and for feaLib there’s the issue fonttools/fonttools#559.

Fontmake should definitely not do this.

[2017-02-06 16:33] anthrotype commented on #214
I just pushed a commit to master and was expecting an email notification from Github but didn't get any. I think fontmake is still not configured properly to send email notifications on pushes to the `fontmake-dev@googlegroups.com` list.

@brawer can you please have a look? I'm not admin of this repo.

[2017-02-06 17:21] brawer commented on #214
@anthrotype, you’re an admin now.

[2017-02-06 17:31] anthrotype commented on #214
thanks!
Email notifications to fontmake-dev should now be configured.

[2017-02-06 17:31] #214 closed

[2017-02-06 18:16] brawer commented on #167
@jamesgk, do you have a pending change floating around somewhere? (Just hoping...)

[2017-02-06 19:15] jamesgk commented on #167
No, I got stuck at
https://github.com/fonttools/fonttools/pull/763#issuecomment-273655752 and
my most recent suggestion is to just go with that change to fonttools.

[2017-02-06 19:16] behdad commented on #167
I'll take a look this week.

[2017-02-07 05:23] erinmclaughlin opened #250 "fontmake error when compiling Roboto Italic variable fonts"
After updating fontmake on Feb 6th at 10pm cst (latest commit was [this](https://github.com/googlei18n/fontmake/commit/8be47470b7b638b7c8a2d2136076f90e8fe13f52)), I attempted to generate new Roboto variable fonts using the interpolated source ufos found here: https://github.com/erinmclaughlin/roboto/tree/everything-in-source-interp/src/v2

I used this command
` fontmake -m RobotoUpright.designspac

[2017-02-07 05:25] davelab6 commented on #250
Does it still work with that argument?

[2017-02-07 05:26] erinmclaughlin commented on #250
I got this error when I tried  `fontmake: error: unrecognized arguments: --no-gpos`

[2017-02-07 05:33] davelab6 commented on #250
lol ok

[2017-02-07 05:39] davelab6 commented on #250
I took a quick look at this ([direct download link](https://github.com/erinmclaughlin/roboto/blob/everything-in-source-interp/src/v2/RobotoUpright-GX.ttf?raw=true)) and it seems bogus in several ways:

- [ ] The named instances are not right, it seems condensed styles need to be named as such, and there are **three** regulars...

<img width="1286" alt="screen shot 2017-02-06 at 21 35 08" src="http

[2017-02-07 12:22] anthrotype commented on #247
@twardoch thanks for the detailed bug report.

About the parser error issue with the custom userData, the issue should go away if you wrap the string value with quotes `com.adobe.type.autohint = "<ICA8aGludFNldExp..>"`.

The glyphsLib parser accepts any character if it is between double quotes (the quote character iteself has to be escaped with backslash); whereas if it is outside of quotes, it on

[2017-02-07 12:51] anthrotype commented on #247
the last traceback, `TypeError: int() argument must be a string or a number, not 'list'`, has to to with the fact that your glyphs file contains `color` definitions such as:

[code]

But glyphsLib is expecting color definitions to be integers:

https://github.com/googlei18n/glyphsLib/blob/4b40d7f0ee34e8637069afb1b6776e4a9d43c6b9/Lib/glyphsLib/casting.py#L473

The inline comment says that this attr

[2017-02-07 17:27] erinmclaughlin commented on #250
I've edited the designspace file, regenerated, and the spacing in the output file looked fine. So those spacing errors must not have been fontmake's fault.

[2017-02-07 17:40] erinmclaughlin commented on #250
Ok, so I've learned that I needed to give the full name in the "stylename" field, not just the weight, in order to prevent duplicates. However, for some reason, the Regular is still populating twice, one from the "instances" specification, and also the master Regular.

In the original designspace file that I was given, the Thin, Regular, and Bold instances were all given slightly different weight

[2017-02-07 18:08] anthrotype commented on #250
hello @erinmclaughlin, thanks for your report!

The `--no-gpos` option is in a separate branch, which has never been merged into master and is now out of sync:
https://github.com/googlei18n/fontmake/commit/a08c2b53baa7d6aa452b795c01e59f3a8015c33b

@brawer @behdad whad do we do? Do we want to add the option?

About fontmake failing with RobotoItalic.designpace, the AssertionError is coming from fon

[2017-02-07 18:31] erinmclaughlin commented on #250
@anthrotype Thanks! I'll take another look at glyph order, though the Italic generated fine before when I was using the no gpos branch.

[2017-02-07 18:32] anthrotype commented on #250
yes, but they were generating without GPOS, i.e, no kerning, marks, etc.

[2017-02-07 18:49] erinmclaughlin commented on #250
@anthrotype Fudge, you're right, the order is wrong.
Do you have any ideas about why Regular is showing up twice (as a master and as an instance) in my Upright output?

Does fontmake automatically put the master which you've copied groups,features,info, and lib from in the final output?

[2017-02-07 23:29] marekjez86 opened #251 "fontmake should embed information in the binaries that would enable to exactly identify its version and source"
We want to be able to retrieve inside any binary fonts (OTF, TTF, VF.TTF) information in the binaries that would enable to exactly identify fontmake version (or components versions) and some source information.

@dougfelt : please add anything else that you think is relevant to this request.

[2017-02-08 09:40] anthrotype commented on #251
That's a very good idea.
We could do like makeotf and use the `name` table's "Version" nameID 5 to store the version of fontmake and its dependencies, using the `;` semicolon as separator, as recommended in the OT name table spec.
I've already added a `__version__` string to all the top-level __init__.py modules, so to get the version of a package one can do, e.g., `import fontmake; print(fontmake

[2017-02-08 17:41] verbosus commented on #251
The ‘[`meta`](https://developer.apple.com/fonts/TrueType-Reference-Manual/RM06/Chap6meta.html)’ table is also a good place for that. That way the name table gets revved less, which is handy when doing frequent comparisons.

[2017-02-08 17:45] anthrotype commented on #251
Maybe.. but then we would need to register a private tag for that (all uppercase). What would you suggest?

[2017-02-08 17:50] verbosus commented on #251
`TOOL`, or `TULS`

[2017-02-08 17:52] anthrotype commented on #251
yeah, that could do it. I was also thinking `LIBS`.

[2017-02-08 17:58] anthrotype commented on #251
or `PKGS`.

[2017-02-08 17:59] verbosus commented on #251
You know what would be even better? If fontmake embedded the tools with the same syntax as a requirements.txt file, so one could replicate the build environment programmatically starting from the binary. Also, I like `LIBS`. Could also be `REQS` or `CODE` or `MAKE`.

[2017-02-08 18:02] anthrotype commented on #251
using the same syntax as pip's `requirements.txt` would be cool. Although there may be tools which are not installable as python packages, but which we might still want to record the version (e.g. ttfautohint)...

[2017-02-08 18:09] verbosus commented on #251
Perhaps one could store them in a comment in the requirements.txt file? To get the reqs, [Stack Overflow](http://stackoverflow.com/questions/24321933/programmatically-generate-requirements-txt-file) offers:
[code]

[2017-02-08 18:20] verbosus commented on #251
[Comments in requirements.txt](https://github.com/harobed/pip/commit/f8964f42318b9bc5a0d3ae5d9556d631d7b9de83).

[2017-02-08 18:22] anthrotype commented on #251
@verbosus I'm not sure what you're talking about here. The problem is not making the requirements.txt file, the issue is that not all the tools used to produce a font (which we would like to record the version of) are python-based, hence are not installable via pip, hence cannot be part of requirements.txt.
Are you simply saying that we list those in requirements.txt, but commented out?

[2017-02-08 18:24] anthrotype commented on #251
sure, requirements.txt can have comments '#'.

[2017-02-08 23:24] davelab6 commented on #250
Hmm, I know that the `--masters-as-instances` option outputs masters as instances, but in your above comment you don't use that. You could try turning it off, but it is off by default, I think

[2017-02-08 23:25] davelab6 commented on #250
Do they look 1:1 the same? :)

[2017-02-08 23:46] erinmclaughlin commented on #250
@davelab6  Nope, both the Upright and Italic are having the same issue, 2 regulars. One is heavier than the other. The lighter weight is the correct one. (I hope these animated gifs work)

![robotoitalic](https://cloud.githubusercontent.com/assets/7864323/22762696/4deb628a-ee26-11e6-8338-893ebfe1ccef.gif)
![robotoupright](https://cloud.githubusercontent.com/assets/7864323/22762695/4dea89aa-ee26-11

[2017-02-09 00:30] davelab6 commented on #250
I checked and indeed, its only possible to turn it on. So I expect its something in your designspace file.

[2017-02-09 00:31] davelab6 commented on #250
Love the GIFs. But why are they not 1:1?

Are all the other named instances 1:1 with the pre-GX fonts?

[2017-02-09 15:21] twardoch commented on #250
The `--no-gpos` option can be simulated by performing:

[code]

[2017-02-09 20:44] behdad commented on #250
Can someone clarify what problem we are talking about? This looks like transcript of a support call than a bug report now. :)

[2017-02-10 01:58] erinmclaughlin commented on #250
@davelab6  Here's the Upright [designspace](https://github.com/erinmclaughlin/roboto/blob/everything-in-source-interp/src/v2/RobotoUpright.designspace) file. These were the interpolation values given to me when I entered the project. As you can see, the weight values of the Instances of Reg and Bold are not 1:1 with the Master Reg and Bold. But, Bold is not being erroneously duplicated, only Regul

[2017-02-10 02:29] behdad commented on #250
Currently we always require a master to be the "base font". And base font is always visible to the consuming system.

[2017-02-10 02:29] behdad commented on #250
Depending on how badly you need otherwise, I can prioritize working on it.

[2017-02-10 02:53] davelab6 commented on #250
@erinmclaughlin is `Regular` or `Regular i` a 1:1 match for the pre-vf regular?

[2017-02-10 12:49] #205 closed

[2017-02-10 12:52] brawer commented on #169
Seems done, closing bug.

[2017-02-10 12:52] #169 closed

[2017-02-10 13:15] brawer commented on #38
The dependencies are really mind-bogglingly complex today... To reduce dependency hell, how about merging ufoLib into the fonttools codebase as [fontTools.ufoLib](https://github.com/fonttools/fonttools/tree/master/Lib/fontTools)? So many animals in the font zoo depend both on ufoLib and fontTools, so they could as well marry.

[2017-02-10 20:48] erinmclaughlin commented on #250
@davelab6 Just compared with the previously-released fonts. The `Regular i` is the 1:1 match of the pre-vf Regular font.  `Regular` is too heavy.

So... do we bother Behdad and have someone figure out how to export variable fonts without including the Regular master as one of the options? Or... do I figure out how to make the `Regular i` weight into a Master, change the designspace file, and then

[2017-02-10 22:39] behdad commented on #250
So, if Regular master is not really Regular, just rename its style to something else.  Would that not work?

[2017-02-10 22:41] davelab6 commented on #250
Perhaps not: Since non-VF-aware systems will use the 'base' font, should that map 1:1 to the previous regular?

[2017-02-10 23:03] behdad commented on #250
We don't care about non-VF-aware systems using the VF font right now.

[2017-02-11 18:14] anthrotype commented on #247
@twardoch can you tell us how that unquoted string `com.adobe.type.autohint = <ICA8aGludFNldExp..>` was written in the glyphs source file? If it was written by Glyphs.app itself, then we will need to adapt the glyphsLib parser to somehow accept such notation.

@schriftgestalt may I ask again how should glyph colors be encoded? As integers (like glyphsLib expects) or as (RGBA?) tuples like in Adam'

[2017-02-11 18:31] davelab6 commented on #247
Was this glyphs file generated with fl6? 😂

On Feb 11, 2017 1:14 PM, "Cosimo Lupo" <notifications@github.com> wrote:

[2017-02-11 19:15] anthrotype opened #252 "match default glyph order when building TTFs from glyphs source"
When generating a TTF (but for CFF-OTFs), Glyphs.app reorders the glyphs so that the first four are .notdef, null, CR and space, following an outdated recommendation in the TrueType spec (see Georg's comments in https://github.com/googlei18n/glyphsLib/issues/111).
It does this even if an explicit `glyphOrder` custom parameter is set. It doesn't do any reordering if `TrueType Keep GlyphOrder` or `D

[2017-02-11 19:26] schriftgestalt commented on #247
Color can be encoded as integer or as RGBA tupel.

The color and autohint info most likely comes from a .ufo file that was opened in Glyphs. The RGBA storage is mostly to be able to round trip .ufo.

[2017-02-11 19:31] anthrotype opened #253 "should transformed components be decomposed in TTFs?"
When generating TTFs, Glyphs.app decomposes all components which have any transforms (scale, flip, rotation, etc.) applied to them.

@schriftgestalt, is this another legacy compatibility thing?
Any custom parameter to disable it?

If this is confirmed, we should find a way to handle this betweem fontmake, glyphsLib and ufo2ft.

Maybe we could add an option in ufo2ft outline compiler, and have font

[2017-02-11 19:39] anthrotype commented on #247
I see, thanks Georg.

But shouldn't Glyphs.app wrap those userData strings with quotes `"`?

glyphsLib parser is choking because it only recognizes as a valid "value" token a string comprised of one or more `[-_./$A-Za-z0-9]` characters, unless that string is included in quotes, in which case `.*` anything matches.

https://github.com/googlei18n/glyphsLib/blob/700d96cd9c546c20208606123f34806bb6156

[2017-02-12 07:46] schriftgestalt commented on #247
the value in `com.adobe.type.autohint` is stored as data and that is enclosed in `<>`. So it is not a string that needs to be enclosed in quotes.

[2017-02-12 07:55] schriftgestalt commented on #252
My reasoning was, if someone bothers to add CR and null, then they just as well can be put in he beginning. As far as I know, both are not really needed.

[2017-02-12 07:58] schriftgestalt commented on #253
The components are decomposed because it in most cases would disturb the hinting that is attached to the base glyph. I can add a parameter to prevent that if that would be needed.

[2017-02-12 20:50] twardoch commented on #253
I believe that `ttfautohint`’s `--composites` option should — at least in theory — work fine with transformed components, because it disables TT instructions inherited from the parent glyphs and applies instructions on the outlines of the composite glyphs. When Werner originally developed this, it was the only, default behavior of `ttfautohint`. Back then, I asked him to make this behavior optiona

[2017-02-12 20:53] twardoch commented on #253
BTW, I think having a custom parameter in Glyphs that disables the decomposition of transformed components would be useful. After all, the current behavior defeats the purpose of TrueType’s support for transformed components. Glyphs’ default behavior may stay as it is, but if someone is post-processing the output, or building variable fonts, it would be useful to keep transformed components.

[2017-02-13 10:13] brawer commented on #38
OK, let’s discuss this with the ufoLib folks. Filed https://github.com/unified-font-object/ufoLib/issues/58. Please comment there.

[2017-02-13 10:28] brawer opened #254 "Setup does not run any tests"
Looks like setuptools does not run any tests; is something messed up with the config?

[code]

[2017-02-13 11:00] #249 closed

[2017-02-13 11:20] miguelsousa opened #255 "Option to bypass the generation of GPOS features"
I'd like to add an option to *fontmake* for it to bypass the generation of GPOS features (`kern`, `mark`, `mkmk`) and let it use FEA files that are already in place instead.

Currently I'm using a file that contain the classes below, which are called with the `--kern-writer-module` and `--mark-writer-module` options, but I imagine that there's a simpler way to implement the desired functionality.

[2017-02-13 11:51] brawer commented on #255
Wouldn’t it be best if UFOs were “self-contained” so that a given input file could be sent to any compiler and it always produces the same output? Such “self-contained UFOs” would be simpler, and there’d be fewer places where the process can go wrong. For example, instead of telling the compiler to ignore [kerning.plist](http://unifiedfontobject.org/versions/ufo3/kerning.plist/), why simply not om

[2017-02-13 13:23] miguelsousa commented on #255
Removing the kerning.plist file from the UFO in not an option, because that (plus groups.plist) contains the kerning data in raw format, which is needed for editing, interpolation, etc.
The thing is, there's more than one way of converting that data to FEA format. The same can be said about the anchor data, which gets assembled as `mark` and `mkmk` FEA code. We have [our own scripts](https://githu

[2017-02-13 14:25] brawer commented on #255
Yes, exactly that’s my concern. We won’t get streamlined workflows when the same piece of data can be converted to output in different ways. (Unless there’s a specification to clearly decide which way is correct).

But thanks for your patient explanation. It sounds like you’d like to have something in the exact format of `kerning.plist`, but without the associated semantics. Have you considered pu

[2017-02-13 15:37] brawer opened #256 "Add large end-to-end test"
It might be good to have a large end-to-end test for fontmake. It would run a test font (eg. a multiple-master *.glyphs source) through fontmake to build a variable *.ttf. The test would compare a TTX dump of the final output file to an expected XML, and flag any differences.

[2017-02-13 15:49] m4rc1e opened #257 "Support Glyphsapp Instance customParameter familyName"
The [Montserrat](https://github.com/JulietaUla/Montserrat) .glyphs source contains two separate families, Montserrat and Montserrat Alternatives. Glyphs allows you to store multiple families in the same .glyphs file by using the customParameter familyName for each instance that you'd like to be a separate family.

![screen shot 2017-02-13 at 15 35 57](https://cloud.githubusercontent.com/assets/752

[2017-02-13 16:25] anthrotype commented on #247
Ok thanks. So it looks like the glyphsLib parser does not properly support binary data values in ASCII plist:

https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/PropertyLists/OldStylePlists/OldStylePLists.html

[code]

I'll file a separate issue over there.

[2017-02-13 23:00] marekjez86 opened #258 "what should we do: empty GPOS/GSUB tables handling differences between Glyphs.app and fontmake"
Now that we are working on single weight existing script conversions that include OpenType tables, we’ve encountered a new situation where Glyphs app. and pipeline handle things differently.

It has to do with empty GPOS/GSUB tables.

When we developed the SOW 12 TTF fonts, it was decided that if a font had a functional GSUB table, but no requirement for a GPOS, then an empty GPOS would be include

[2017-02-13 23:49] miguelsousa commented on #255
@brawer I feel that you're overthinking and it's probably my fault. Let me restate the situation:
• I have a UFO font that is ready to be generated into an OTF.
• The [`features.fea` file](http://unifiedfontobject.org/versions/ufo3/features.fea/) inside that UFO contains GSUB as well as GPOS features, namely `kern`, `mark` and `mkmk`.
• When I run this UFO thru **fontmake** using no options (`font

[2017-02-14 00:08] anthrotype commented on #255
Hey Miguel, this should already be the case. If it's not, then it's likely a ufo2ft bug.

ufo2ft uses a simple regex to check for the presence of kern, mark or mkmk features and by default it is configured to not overwrite:
https://github.com/googlei18n/ufo2ft/blob/5507abd8a765d44587502cbdc16d441e3cd28bef/Lib/ufo2ft/makeotfParts.py#L78

[2017-02-14 00:34] miguelsousa commented on #255
@anthrotype didn't know about that, thanks for pointing it out.
I see that I've oversimplified my example. The UFO's `features.fea` actually contains only an `include()` statement, so that sniffing code won't find them 😞

[2017-02-14 01:04] anthrotype commented on #255
could you file the issue on ufo2ft repo?
I wonder if the feaLib parser could in ufo2ft to find out whether kern/mark/mkmk have already been defined/included.

[2017-02-14 01:05] miguelsousa commented on #255
Will do

[2017-02-14 01:32] xiangyexiao commented on #250
@erinmclaughlin have you got a chance to take Behdad's suggestion to rebuild RobotoUpright-GX.ttf and RobotoItalic-GX.ttf, i.e., rename masters to something else, and rename Regular/Bold/Thin i to Regular/Bold/Thin?

[2017-02-14 15:33] twardoch commented on #258
This is a very good question. The only reason I am aware of why these techniques were needed was that **in 2006 (more than 10 years ago!), Adobe InDesign CS2** only checked for the presence of the `GSUB` table, and if it was not present in the font, it did not at all process the `GPOS` table, which resulted in no kerning being applied. [Back then, I asked](http://www.typophile.com/node/29653) @rea

[2017-02-14 18:23] erinmclaughlin commented on #250
@behdad @xiangyexiao  Hi, all! I attempted changing the style name, of the Regular Master, but it didn't fix the problem. I also changed the weight class value (from 400 to 390), but still no luck.

Could this automatic-insertion be related to the designspace value (100,100) rather than the actual style name or weight attribute?

[2017-02-15 00:23] xiangyexiao commented on #167
@behdad May I know the current status of this bug? thanks!

[2017-02-15 06:13] marekjez86 commented on #258
@twardoch : thank you very much for your feedback

[2017-02-15 14:29] JelleBosmaMT commented on #258
Where starting to make complex scripts for Windows, there was a need to add an empty GPOS to trigger shaping in Windows. Just a GSUB would not do. Empty GPOS meaning a script table entry with script tag and zero features. Which is not the same as an completely empty GPOS.

[2017-02-15 15:23] twardoch commented on #258
Ah, that's interesting, thank you. I think this will be a reasonable request to add this behavior to makeOTF (which Glyphs is using) and feaLib.

The FEA language requires a series of "languagesystem" statements at the beginning of the file, which spell out all scripts and langsyses the font uses. Those are the langsyses which will be written into GSUB and GPOS if both types of features are used.

[2017-02-15 18:49] anthrotype commented on #257
I believe fontmake/glyphsLib already support outputting instances with custom `familyName`.

fontmake by default only generates instances that have the same `familyName` as the master font. However it has an option `--family-name`, described in the `--help` as:

This string is passed on to [`glyphsLib.build_masters`](https://github.com/googlei18n/glyphsLib/blob/73c50f91a1a71c65193dd4925bdcbc62ce2c

[2017-02-15 19:31] marekjez86 commented on #258
@behdad : who could be the right person to make it happen for the pipeline (looks like fealib work)?

[2017-02-15 20:00] brawer commented on #258
That would be me. But I don’t think feaLib should implement undocumented hacks that are not part of any specification, especially not when the output would be different from makeotf. @twardoch, would you mind proposing a concrete change to spec [here](https://github.com/adobe-type-tools/afdko/issues)? I think the spec should define when exactly an implementation should create empty GPOS/GSUB/both,

[2017-02-15 20:10] brawer commented on #257
Curious, is there a specific reason why glyphsLib doesn’t recognize the per-instance familyName property when it’s present in the Glyphs source, and use it to set the `familyname` attribute in generated [DesignSpace](https://github.com/LettError/MutatorMath/blob/master/Docs/designSpaceFileFormat.md) file?

[2017-02-15 20:15] anthrotype commented on #257
Yeah, I also found that --family-name option a bit confusing.

[2017-02-16 18:59] anthrotype commented on #254
There's nothing wrong, simply the `python setup.py test` command is not set up yet.
The fontmake tests are now being run from a bash shell script (not working on windows).
We should convert that to python unittest or pytest, possibly also configure tox to run on multiple pythons, and hook up Appveyor to test on Windows.

[2017-02-16 19:08] anthrotype commented on #255
I think the idea was to allow one to plug into fontmake one's own custom feature writers, though in practice (from Miguel's example, and Adam's "feaLab") most seem to be using these options just to skip the feature writing altogether.

I haven't tried to use those options yet, but if you think they are unnecessary we can deprecate/remove them.

Another reason why people would like a `--no-gpos` op

[2017-02-16 19:35] twardoch commented on #255
@brawer The reason why fontmake has a converter from UFO structures for kerning and mark positioning is that in some cases, it's reasonable to have the higher-level structures which are more editable (kerning.plist etc.), but the "kern" and "mark" features are much more capable than what the FontLab Studio 5 simplified model withthe "top"/"_top" anchor names, or the UFO group kerning model can def

[2017-02-16 19:37] twardoch commented on #255
Ps. I have used fontmake with a FontLab in-house kern feature writer, which will likely be included in FontLab VI.

[2017-02-16 19:56] brawer commented on #255
Have a look at https://github.com/googlei18n/ufo2ft/pull/110. This might be controversial, but I didn’t see any reasonable way to handle https://github.com/googlei18n/ufo2ft/issues/108 while also keeping things fully configurable. (And I’m still not convinced why making things externally configurable would be a good thing, but I might have misunderstood something). Feel free to tear the pull reque

[2017-02-17 01:02] miguelsousa commented on #255
@brawer the PR looks good, thank you. I'll try it out and report back shortly.

[2017-02-17 11:37] twardoch commented on #247
@davelab6 asked:

I wrote in my report:

[2017-02-17 11:39] twardoch commented on #247
Ps. I shall add that the `.glyphs` file did indeed originate from opening UFO files which were generated with `vfb2ufo` from a VFB saved in FontLab Studio 5. I used FontLab VI at an earlier stage. The [folder list](https://github.com/twardoch/schticks-fonts-ofl/tree/master/Schticks/Sources) should give you an idea about the sequence of steps involved.

[2017-02-17 12:46] miguelsousa commented on #255
@brawer I've used your changes to build one of the OTFs at https://github.com/adobe-type-tools/otf-making-benchmark and all went well. As far as I'm concerned it can be merged.
Thanks again for considering this enhancement.

[2017-02-17 13:14] brawer commented on #255
OK, merged.

[2017-02-17 13:14] #255 closed

[2017-02-18 00:25] zjusbo opened #260 "Fontmake can not compile some ufo files in noto-sources"
Affected files are :
noto-source/src/NotoSansCham/NotoSansCham-Regular.ufo
noto-source/src/NotoSansCham/NotoSansCham-Bold.ufo
noto-source/src/NotoSansLao/NotoSansLao-Regular.ufo
noto-source/src/NotoSansLao/NotoSansLao-Bold.ufo

and probably more.

The error is
(dev) bosong-macbookpro:NotoSansLao bosong$ fontmake -u NotoSansLao-Bold.ufo/
INFO:fontmake.font_project:Building OTFs
INFO:fontmake.font_p

[2017-02-18 00:30] zjusbo opened #261 "Fontmake can not compile some glyph files"
Steps to reproduce:
1. Convert ufo files in noto-source/src/NotoSansCham/ to .glyph file using glyph.app.
2. Compile the converted .glyph file.

Expected Result:
ttf, otf are generated successfully.

Actual Result:
Error in fontmake

(dev) bosong@bosong0:~/noto-source/src/NotoSansCham$ fontmake -u NotoSansCham-Regular.ufo/
INFO:fontmake.font_project:Building OTFs
INFO:fontmake.font_project:Decompo

[2017-02-18 00:42] anthrotype commented on #260
booleanOperations currently does not support removing overlaps from outlines containing (TrueType) quadratic curves.
There's a "quadratics" branch, but it's not merged into master yet:
https://github.com/typemytype/booleanOperations/tree/quadratics

[2017-02-18 00:43] anthrotype commented on #261
duplicate of #260

[2017-02-18 00:43] #261 closed

[2017-02-18 16:55] zjusbo commented on #260
I see. So IIUC, overlaps are the intersection area of different contours in a glyph. Why do we need to remove overlaps and why does source design file allow overlaps?

Is quadratics brach still under developing and can not merged to master now?

[2017-02-18 21:52] davelab6 commented on #260
Quadratics don't require overlaps to be removed in the first place :)

On Feb 18, 2017 10:25 PM, "Bo Song" <notifications@github.com> wrote:

[2017-02-19 07:49] brawer commented on #260
@davelab6, not even when building CFF fonts from quadratic sources, which (I think) is what happened here? Of course it’s a weird case, but why shouldn’t fontmake support it?

[2017-02-19 10:46] davelab6 commented on #260
If that's the case then yes of course cff requires overlap removal. But
when I did read and now just reread the OP, I assumed that it was
outputting TTF flavour... :) I'm curious where cff was indicated

On Feb 19, 2017 1:19 PM, "Sascha Brawer" <notifications@github.com> wrote:

[2017-02-19 19:02] anthrotype commented on #260
the OP typed `fontmake -u NotoSansLao-Bold.ufo`, so fontmake by default tries to compile both OTF and TTF, in that order.

However, the AssertionError in the traceback above was *not* caused by fontmake trying to create a CFF-OTF from a UFO containing TrueType outlines (this is not supported yet, depends on https://github.com/googlei18n/cu2qu/pull/29 being landed first).
The problem is that boolea

[2017-02-20 07:46] brawer commented on #245
Has anyone done this comparison? If not: @marekjez86, can you send me those GlyphData.xml files?

[2017-02-20 08:54] marekjez86 commented on #245
note that there are some complex scripts also with GlyphData.xml files
I haven't attached these here

On Sun, Feb 19, 2017 at 11:46 PM, Sascha Brawer <notifications@github.com>
wrote:

--

Marek Z Jeziorek [ 老马 ] | marekj@google.com | 312 725-6958

[2017-02-20 10:24] davelab6 commented on #260
On Feb 20, 2017 12:32 AM, "Cosimo Lupo" <notifications@github.com> wrote:

I'm curious where cff was indicated

the OP typed fontmake -u NotoSansLao-Bold.ufo, so fontmake by default tries
to compile both OTF and TTF, in that order.

OK cool :)

However, the AssertionError in the traceback above was *not* caused by
fontmake trying to create a CFF-OTF from a UFO containing TrueType outlines
(this is

[2017-02-20 20:41] miguelsousa commented on #251
The way I'm doing it [here](https://github.com/adobe-type-tools/otf-making-benchmark) is by using `pip freeze`, then filtering the output a bit, and finally sticking it in the font's `name` ID 10. Have a look at [getFontmakeVersions.py](https://github.com/adobe-type-tools/otf-making-benchmark/blob/master/tools/getFontmakeVersions.py) and [addToolsVersion.py](https://github.com/adobe-type-tools/otf

[2017-02-21 03:22] zjusbo commented on #260
Tried to pass* --keep-overlaps *option to fontmake but it still fails,
though this time it fails at a different stage rather than removing
overlapping. (NotoSansCham-Regular/Bold, NotoSansLao-Regular/Bold and
NotoSerifLao-Regular/Bold all fails with same error. Error stack is
attached below)

The reason is that these problematic fonts do not contain xHeight and
capHeight attribute in its fontinfo.

[2017-02-21 14:56] brawer commented on #167
@zjusbo, any progress? If not, no problem — in that case, let me take over and I’ll fix it.

[2017-02-21 16:00] brawer commented on #167
So if nobody replies by tomorrow, I’ll take the `weightClass` parameter from the glyphs sources and use that as the interpolation location for MutatorMath. According to https://github.com/fonttools/fonttools/pull/763#issuecomment-273655752, this approach might not work for the current Roboto sources. But it’s not obvious why Roboto (or other fonts running into the same issue) could not change thei

[2017-02-21 16:32] brawer commented on #188
@aaronbell, can you attach a *.glyphs file where the instance order is not preserved in the generated *.designspace file? I’ve tried running a few fonts through glyphsLib but couldn’t reproduce the problem. Also the test case in https://github.com/googlei18n/glyphsLib/pull/128 passes without any code changes.

[2017-02-21 18:21] zjusbo commented on #167
​Sure. I'm working on ​https://github.com/googlei18n/fontmake/issues/260
and adding test for https://github.com/fonttools/fonttools/pull/840.
Thanks for taking over it.

On Tue, Feb 21, 2017 at 8:00 AM, Sascha Brawer <notifications@github.com>
wrote:

--
Sincerely,
Bo Song
Master Student in Computer Science
Yale University

[2017-02-22 03:00] jamesgk commented on #167
Sorry for being a nuisance, but it's totally not obvious to me how Roboto *could* be changed to acclimate weightClass values as locations. Could you show what the designspace would look like (or at least the locations for the masters and the Bold and Condensed Bold instances)?

[2017-02-22 10:21] brawer commented on #211
Looking at https://github.com/fonttools/fonttools/commit/86207144aeba48248653c947fece0e892dae810e the fonttools change seems reasonable, so I’d vote for keeping it. If anyone disagrees, please re-open this bug.

[2017-02-22 10:21] #211 closed

[2017-02-22 10:24] brawer commented on #188
There’s now a test case in https://github.com/googlei18n/glyphsLib/commit/f3612de48aadb2691f51b3271776aaa704063182 but I still can’t reproduce the bug (and the test passes). Please re-open this bug if I’m missing something.

[2017-02-22 10:24] #188 closed

[2017-02-22 11:07] brawer commented on #167
Sorry, but not sure if there’s anything to debate here. Currently, glyphsLib behaves different than Glyphs.app; that is, glyphsLib produces the wrong output for a valid input file. That’s a clear bug in glyphsLib that needs to be fixed. Also, the expected behavior for the `weightClass` parameter is documented in the Glyphs handbook.

[2017-02-22 11:14] brawer commented on #167
For the attached [WeightTest.glyphs](https://github.com/googlei18n/fontmake/files/793138/WeightTest.zip), Glyphs v2.4 produces two instances: “WeightTest-Basic.ttf” with `OS/2.usWeightClass=390`, and “WeightTest-Fat.ttf” with `OS/2.usWeightClass=707`. glyphsLib assigns 400 to both, which is wrong. Working on a fix.

[2017-02-22 16:21] anthrotype commented on #253
Ok, so I'll add an option in ufo2ft to decompose such transformed components (anything other than shifting).

I think fontmake should pass that option by default when generating from .glyphs source to emulate the current Glyphs.app behaviour.

Then if @schriftgestalt defines a new custom parameter, we can add support for that in glyphsLib, and fontmake can read that to decide whether to decompose

[2017-02-23 00:48] brawer commented on #253
`<mantra>`A zoo of configuration options is difficult to understand. The build process would be less complicated (and easier to reproduce) if the output was completely determined by the input, without side channels.`</mantra>`

[2017-02-23 21:23] xiangyexiao commented on #250
@brawer @zjusbo @behdad could any of you try to fix this issue?

[2017-02-24 15:47] marekjez86 commented on #233
Cannot reproduce

[2017-02-24 15:47] #233 closed

[2017-02-24 15:50] marekjez86 commented on #260
@zjusbo : we are replacing Lao with the new sources

[2017-02-24 16:06] marekjez86 commented on #243
I can build variable fonts now. No longer this is an issue.

[2017-02-24 16:06] #243 closed

[2017-02-24 16:08] marekjez86 commented on #237
I can build Armenian fonts. This is no longer an issue.

[2017-02-24 16:08] #237 closed

[2017-02-24 16:09] marekjez86 commented on #236
I can build Cherokee. No longer an issue.

[2017-02-24 16:09] #236 closed

[2017-02-24 16:10] marekjez86 commented on #235
I can build Thai fonts now. No longer an issue.

[2017-02-24 16:10] #235 closed

[2017-02-24 16:21] marekjez86 commented on #225
still is happening with the current set of tools (don't know the VF font though)

[2017-02-24 16:32] anthrotype commented on #225
it seems like a source issue.
The starting point of the vertical bar does not match across all the masters (specifically, Light and Bold):

<img width="1091" alt="screenshot 2017-02-24 16 30 37" src="https://cloud.githubusercontent.com/assets/6939968/23311645/b311aab8-faae-11e6-871a-184ed1bfdf36.png">

[2017-02-24 17:33] marekjez86 commented on #224
created https://github.com/googlei18n/glyphsLib/issues/135
closing this bug

[2017-02-24 17:33] #224 closed

[2017-02-24 17:35] marekjez86 commented on #225
sorry. thanks for pointing this out.

[2017-02-24 20:56] marekjez86 commented on #225
I modified the source, rebuilt the fonts and verified that it is fixed through source modification. @anthrotype : thank you

[2017-02-25 03:10] davelab6 commented on #224
Jungshik, Google Fonts also offers fonts for download, and users expect that single non-modifiable-per-host copy to work everywhere. If you don't want Noto to be useful for your users, that's a pity

[2017-02-25 13:07] JelleBosmaMT commented on #225
The  change to the font data may appear to fix the distortions, but not the cause of the distortions. In a bug free interpolation there is no way that any outline point is not within the common bounding box of the masters. If GlyphsApp interpolated the same way fontmake does, a distortion like this would not have gone unnoticed. I suggest to unfix, the font source and make sure fontmaker interpola

[2017-02-25 13:12] anthrotype commented on #225
I'm not sure I understand.. You can clearly see from the picture that the starting point do not match in all the masters.
I don't know what you mean by "bug free interpolation". Also I don't know whether or how Glyphs.app manages to work around these mismatching starting points.
Can you elaborate?

[2017-02-25 13:18] anthrotype commented on #225
Here's what Glyphs.app does with the ExtraBold instance, if you don't fix the starting points:

<img width="545" alt="screenshot 2017-02-25 13 15 55" src="https://cloud.githubusercontent.com/assets/6939968/23331377/c251ef70-fb5c-11e6-835f-1d88bc20de06.png">

[2017-02-25 13:23] JelleBosmaMT commented on #225
That is my point. In GlyphsApp all interpolated nodes are in between the points of the masters. They cannot be outside the bounding box of the masters. In the image of the font produced by fontmake there are nodes all over the place. Whatever is causing that, it is not interpolation.

[2017-02-25 13:32] anthrotype commented on #225
fontmake uses MutatorMath for interpolation, Glyphs does its own thing. I don't know one compares to the other, as I can only look at the source code from the former.
The fact remains that the starting point issue needs fixing in the source file, whether one uses fontmake or Glyphs.app to interpolate. And after fixing the starting points, a valid input produces consistent output in both MutatorMat

[2017-02-25 13:34] anthrotype commented on #225
please open a separate issue for that providing further details, thanks.

[2017-02-25 13:49] JelleBosmaMT commented on #225
I reported the Tamil issue to Marek. The start point issue with the is one Sinhala character has been fixed in my source for quite a while. But I am still waiting for a review of the design. But the design cannot be reviewed when Google is using faulty software to produce the font files that are are send to reviewers. And that software is not going to be fixed, if obvious faults in interpolation a

[2017-02-25 14:06] anthrotype commented on #225
Sorry you feel that way. But again if the sources are not interpolation-compatible to begin with (in this case, the starting points), there is no correct "bug-free" way to interpolate and the result is undefined.

[2017-02-25 14:56] JelleBosmaMT commented on #225
The wrong start point does not make the outline interpolation incompatible, it only produces an unappealing result. The wrong number of points or outlines, different types of points are what makes outlines incompatible. Within ANY interpolation, all interpolated points are between points on masters.  If they are not in between, it is not interpolation. I am afraid to say it is already 30 years ago

[2017-02-25 15:12] anthrotype commented on #225
Thanks for the explanation. I'll investigate further and make sure if there's the bug it is fixed.

[2017-02-25 15:53] JelleBosmaMT commented on #225
You are probably not familiar with GlyphsApp to the extend daily users are:

If for a glyph the outlines in masters are incompatible with regards to
number of contours, order of contours, number of nodes, or the type of
nodes, then Glyphs will not interpolate between these masters at all. So
this makes it easy for designers to see where they get it wrong. There is
an exception: you can still have

[2017-02-25 18:54] behdad commented on #229
Because we don't try reading DeltaValue if delta format is NOT in 1, 2, 3.  From otData.py:
[code]
Note this part: `DeltaFormat in (1,2,3)',`.

Re asserting: fontTools is non-judgemental re what it reads.  The more asserts we add the harder it will be to inspect or fix bad fonts...

We already have https://github.com/fonttools/fonttools/issues/824 to improve this object.  There's not much else to

[2017-02-25 18:54] #229 closed

[2017-02-26 02:45] brawer commented on #164
We now have pyup.io (thanks to @anthrotype).

[2017-02-26 02:45] #164 closed

[2017-02-27 18:49] marekjez86 commented on #258
Behdad, what do you think of it?

[2017-02-27 19:49] anthrotype commented on #258
this reminds me that the fonttools subsetter retains empty ScriptRecords in GSUB to work around some issues in Uniscribe, I think...

https://github.com/fonttools/fonttools/commit/74e629e6004c71a9eeebbb94189b0b910dcac098
https://github.com/fonttools/fonttools/commit/d87d6aa39eafa038ac4a878d2b174a3bbb44ea43
https://github.com/behdad/fonttools/issues/518

[2017-02-27 19:50] marekjez86 commented on #225
@anthrotype : @JelleBosmaMT makes a good point (pun unintended :-)) and this might make a good assertion: any point in the interpolated "construct" should NEVER be outside of "maximum of all masters" [I'm not sure what the right words are here]. If it is the there's something wrong and we should flag it as opposed to creating an interpolation with this. Just my 2c.

[2017-02-27 23:00] marekjez86 opened #264 "different interpolation between Glyphs.app and MutatorMath"
The metrics for the fonts produced by the pipeline and by the glyphs.app are NOT the same. In most of the cases I examined the fonts produced by the pipeline are slightly "taller" or slightly "fatter". While the differences are not that big, they might cause a font designer to exclaim: "Pipeline is NOT producing the font I designed" :-)

The following was shared with me via e-mail (the fatter [gre

[2017-02-27 23:27] marekjez86 commented on #264
@behdad , @anthrotype : what do you think about the differences? is this something that we should learn to live with?

@JelleBosmaMT : FYI

[2017-02-28 08:40] JelleBosmaMT commented on #264
This is definitely something that nobody should live with.

You will notice that the distortions are centered around the NotoSansTamil-ExtraCondensedBold. This has interpolation values weight 151 width 70 and is supposed to be a straight interpolation between the masters at 90-70 and 190-70.
What is special about weight 151-70? This design has 7 masters: 4 in the corners and two intermediates for

[2017-02-28 09:19] JelleBosmaMT commented on #264
With regards to the height change of the bracketleft.tamil: all masters have the same height except the narrow thin (26-70). But that should not have any effect on 151-70. Or has it?

[2017-02-28 21:28] anthrotype commented on #264
Thank you Marek and Jelle for the thorough bug report.

I've examined the sources and the outputted fonts from both Glyphs.app and fontmake (via glyphsLib and MutatorMath), and can confirm the above mentioned differences in the interpolated instances.

As Jelle pointed out, it seems like, when we generate instances with MutatorMath, the seventh "SemiBold" master (weight=151, width=100) placed in b

[2017-03-01 01:28] twardoch commented on #264
Here’s what I "sort of know", or at least my understanding of how design spaces differ in MutatorMath and Glyphs:

Both **Superpolator** / **MutatorMath** and **OpenType Variations** iterate through each axis and determine the interpolated coordinates per each axis individually, step by step. This allows an arbitrary number of axes, but at a cost — predictable results are given if the masters are

[2017-03-01 01:32] twardoch commented on #264
Ps. The way I understand it, the current setup where `fontmake` just takes Glyphs masters and their locations on the design space, and then applies a completely different interpolation algorithm (MutatorMath) is "naive" and won’t ever guarantee full compatibility. I think in order to make arbitrary Glyphs design spaces work reliably in MutatorMath or OT Variations, one would need to generate more

[2017-03-01 04:32] zjusbo commented on #209
The font file name has a 20 char limits on windows.
https://www.glyphsapp.com/tutorials/multiple-masters-part-3-setting-up-instances (Keep Your Style Name Short)

But it seems reasonable to use constant naming style for lint and fontmake. I will look into the code to check it.

[2017-03-01 09:55] LettError commented on #264
Hi Cosimo,

It seems Glyphs chose a different algorithm in which certain constellations of masters are preprogrammed, but the code is proprietary and there is no point in me guessing. If Monotype delivered data that depends on such a proprietary algorithm then that is not necessarily a bug in MutatorMath.

However, if the data can be used to generate working variable fonts *using fontTools*, then

[2017-03-01 09:57] JelleBosmaMT commented on #264
I have the hunch if I am going to work out in detail how this works, my boss would like to quote for it first. But I can solve it for my 7 masters.

All instances are within a rectangle. You can connect the masters by solid lines. So in my Tamil and Sinhala x = width, y is height. One intermediate master left, two on the right.

![interpol](https://cloud.githubusercontent.com/assets/12729011/23453

[2017-03-01 10:09] LettError commented on #264
FWIW, UFOs can store floating point values for intermediates so that is not a problem.

E

[2017-03-01 11:04] JelleBosmaMT commented on #264
On 01-mrt.-17 10:55, "Erik van Blokland" <notifications@github.com> wrote:

Anyone working on software that has to generate font from GlyphsApp files
has a hell of a job testing all possible settings and configurations, not
just interpolation. The amount of configurations of  masters seems to be
limited by the UI, it is still a lot.

But interpolation itself does not seem to be something that depe

[2017-03-01 15:32] schriftgestalt commented on #264
Adam explained it quite accurately (only that it uses the same algorithms for all master setups and the algorithm actually supports an unlimited number of masters, Glyphs internally can use 5 (the settings are accessible by script). Only the UI is limiting it, still.

The .glyphs file contains the interpolation values (`instance.instanceInterpolations`) for each instance. So you could skip mutator

[2017-03-01 15:47] JelleBosmaMT commented on #264
Indeed it is all there. Almost too easy ;-)

[2017-03-01 17:18] dougfelt commented on #209
The 20 character limit described in the GlyphsApp page is a suggestion, not
a requirement, as far as I know.

The nototools file nototools/noto_names.py file plus associated data
defines the font names that lint expects.  Monotype has access to this tool
and can provide the data in the sources such that GlyphsApp should generate
the appropriate names.  Fixes should be applied in the sources, and t

[2017-03-01 17:21] marekjez86 commented on #209
what this means we need to communicate with MTI and make sure the spec if available for others to see what's expected

[2017-03-01 17:58] dougfelt commented on #209
What do you suggest?  The names depend on the length, and we have > 100
font families.  I run the tool and paste its output here, but that's kind
of long.  Should I do that?

On Wed, Mar 1, 2017 at 9:21 AM, Marek Jeziorek <notifications@github.com>
wrote:

[2017-03-01 18:34] dougfelt commented on #209
Alternatively, I can just point at the data file and provide some examples.  Not sure if that's sufficient.  Here for example are some lines from family_name_info_p3.xml in nototools/nototools/data:

[code]

'family' is an identifier for a known Noto family, basically composed from 'style', 'script' and 'variant'.  We have no expectations for families whose identifiers we don't recognize-- as we a

[2017-03-02 02:07] marekjez86 opened #265 "Pipeline creates Myanmar fonts without GPOS entries for KSW and MON"
copied from a report I received:
"This was found while checking the validity of the GSUB and GPOS in fonts created by pipeline. The designer states: ‘Myanmar is used in two other languages, Mon and Sgaw Karen, which are accounted for in our GPOS and GSUB. Pipeline seems to drop the two scripts from the GPOS.
GPOS in Pipeline Instances DO NOT carry over to Script Locales.

The code below was dumped

[2017-03-02 02:20] marekjez86 commented on #265
@jungshik : does this sound like an issue that could cause Roboto's problem?

[2017-03-07 07:56] brawer opened #268 "Omit TTFA table?"
Should fontmake omit the TTFA table from its output? In https://github.com/googlei18n/noto-fonts/pull/862, @jungshik and @dougfelt noticed that fontmake output contains TTFA tables. These are generated by ttfautohint when running with the [-t or --ttfa-table option](https://www.freetype.org/ttfautohint/doc/ttfautohint.html#add-ttfa-info-table). But at least currently, this is purely informational;

[2017-03-07 09:37] davelab6 commented on #268
I like to have them in GF fonts because the API will strip them, but it's
useful metadata to debug hinting issues

If fontbakery by default strips them, please make an optional argument to
include them :)

On Mar 7, 2017 2:56 AM, "Sascha Brawer" <notifications@github.com> wrote:

[2017-03-07 10:03] anthrotype commented on #268
I don't see where is the problem. fontmake `-a [AUTOHINT]` option does what it's being told; if you do tell fontmake to call `ttfautohint` command with `-t` option, then you will get the TTFA table; otherwise you won't.
Am I missing something?

[2017-03-08 06:20] brawer commented on #268
Oh! Thanks... blush. Ahem.

[2017-03-08 06:20] #268 closed

[2017-03-08 19:05] marekjez86 commented on #258
@behdad, @anthrotype : any suggestions on this or progress?

[2017-03-08 19:09] anthrotype commented on #258
Can you paste the error message?

[2017-03-08 21:07] behdad commented on #258
Here's my recollection of anecdotes relevant to this issue:

* I think in Windows at least up to XP, and possibly later, at least Arabic, and possibly Hebrew and other, shapers won't use GPOS if there's no GSUB,

 * OTS can be hard about some things.

  * Firefox does things like checking that GSUB script 'deva' or 'dev2' is present before accepting webfont as Hindi-capable. :(

My recommendation

[2017-03-08 21:08] behdad commented on #258
Note that I don't think one needs AFDKO spec change for this. No table as well as empty table both represent the intent of the fea-file writer correctly.  It's just about which one is more portable.

[2017-03-08 21:34] marekjez86 opened #270 "fontmake failed to build NotoSerifThai VF"
command used
_fontmake -g ../noto-source/src/NotoSerifThai-MM.glyphs -o variable_

source https://github.com/googlei18n/noto-source/blob/master/src/NotoSerifThai-MM.glyphs

... the traceback is as follows:

INFO:fontTools.varLib:Building variations tables
INFO:fontTools.varLib:Generating gvar
INFO:fontTools.varLib:Generating HVAR
INFO:fontTools.varLib:Merging OpenType Layout tables
Merging GPOS
Tr

[2017-03-08 21:35] marekjez86 commented on #270
this is a regression. I used to be able to build GX before. now it stopped building for some reason.
CC @xiangyexiao

[2017-03-08 21:36] xiangyexiao commented on #270
thanks for confirmation.

[2017-03-08 21:43] miguelsousa commented on #270
This change may have something to do with it
https://github.com/fonttools/fonttools/commit/dc07fe4f8fab5b2b24132b7493c51955ce2e306e

[2017-03-08 22:00] marekjez86 commented on #258
@anthrotype

source https://github.com/googlei18n/noto-source/tree/master/src/NotoSansAvestan

============= src/NotoSansAvestan/NotoSansAvestan-MM.plist ==============
INFO:fontmake.font_project:Building master UFOs and designspace from Glyphs source
INFO:glyphsLib:Parsing .glyphs file
INFO:glyphsLib:Casting parsed values
INFO:glyphsLib:Loading to UFOs
INFO:glyphsLib.util:Writing master_ufo/NotoS

[2017-03-08 22:58] behdad commented on #258
Ah ok, if it's in mti files, I can look into it.

[2017-03-08 23:12] behdad commented on #270
fontmake master fails at an earlier stage for me on that source, and probably all sources.  Not sure what's going on.
[code]

[2017-03-08 23:21] behdad commented on #258
What fontmake commandline do I use to build it?

[2017-03-08 23:23] behdad commented on #258
Ok, got it. In general, it's best to include the exact command when reporting bugs.  Thanks.

[2017-03-08 23:25] marekjez86 commented on #258
I used

./build src/NotoSansAvestan/Noto*.plist

On Wed, Mar 8, 2017 at 3:23 PM, Behdad Esfahbod <notifications@github.com>
wrote:

--

Marek Z Jeziorek [ 老马 ] | marekj@google.com | 312 725-6958

[2017-03-08 23:25] behdad commented on #258
So, this bug could have been fixed in five minutes if the original report indeed reported the failure, not asking a question!  Fix coming.

[2017-03-08 23:27] marekjez86 commented on #258
question came from MTI, before I had sources. Only later I got the sources, but I've learned my lesson :-)

[2017-03-08 23:28] behdad commented on #258
The root of the bug is in the source.  According to spec [0], the script block has to have lines with four tab-separated entries:
[code]
however, in `Noto\ Sans\ Avestan\ GPOS.txt` you find these:
[code]
those two middle lines are missing two trailing tab characters.

I'm fixing mtiLib to be lenient about this.

[0] http://monotype.github.io/OpenType_Table_Source/otl_source.html#script-table

[2017-03-08 23:31] marekjez86 commented on #258
Should I file a bug against MTI for this?

On Wed, Mar 8, 2017 at 3:28 PM, Behdad Esfahbod <notifications@github.com>
wrote:

--

Marek Z Jeziorek [ 老马 ] | marekj@google.com | 312 725-6958

[2017-03-08 23:32] behdad commented on #258
Nah. Given that I guess their compiler supporters this relaxed format, I'll just fix mtiLib. Easier.

[2017-03-08 23:33] behdad commented on #258
I fixed it in fontTools, but cannot test. Something about my setup seems completely broken. No font builds for me.

[2017-03-08 23:45] zjusbo commented on #270
@behdad which command did you use? It seems the argument is wrong. This is a new argument check introduced by

'-o variable' option is incompatible with '--interpolate' or '--masters-as-instances'

[2017-03-08 23:48] zjusbo commented on #270
Umm. I got the same error as Behdad. The command I used is
fontmake -g ../noto-source/src/NotoSansThai-MM.glyphs -o variable

I'm looking into it.

[2017-03-08 23:54] behdad commented on #270
Thanks.

Let's import one of the smaller noto fonts (ideally one with and one without mti files) and hook up all different output options to fontmake's test suite.  Building OTF also failed for me with other issue. That's probably because of CFF2 merge. :|

cc @anthrotype

[2017-03-08 23:59] zjusbo commented on #270
Removing the argument restriction 'instance_data' works for me. I'm preparing a cl and adding tests for it.

@marekjez86 I faced the same error as you reported before I updated my fontmake repo. Please try to update your repo to the latest version and try it again to see if the same error still occurs.

[2017-03-09 00:01] behdad commented on #270
Would be nice if we can figure out what introduced it to begin with.  There
was a reason the check was there originally I'd guess.

On Wed, Mar 8, 2017 at 3:59 PM, Bo Song <notifications@github.com> wrote:

--
behdad
http://behdad.org/

[2017-03-09 00:03] zjusbo commented on #270
I see. Waiting for Cosimo to chime in.

[2017-03-09 07:36] anthrotype commented on #270
Sorry, that `TypeError` above was a little oversight on my part (fixed it with 1bb6921).
And yes, we need to add tests for all fontmake's input formats to prevent this kind of regressions.

[2017-03-09 07:42] anthrotype commented on #270
@marekjez86 running `fontmake -g ../noto-source/src/NotoSansThai-MM.glyphs -o variable` works for me with fonttools==3.8.0. The latter is already in fontmake's requirements.txt, so I think you just need to update the `fontmake` git submodule inside `noto-source` repository to the current master, then try building NotoSansThai again.

[2017-03-09 08:14] miguelsousa commented on #270
I was surprised to see it get merged without any modifications. I was planning to look at the branch after I'm done adding varLib tests, to see if I could help move it along.

[2017-03-09 08:27] anthrotype commented on #270
@miguelsousa I merged cff2 branch after the 3.8.0 release, after discussing with Behdad. The longer we waited, more difficult would have been to merge it back into master. We can address any issues before the next fonttools release.

[2017-03-09 09:08] miguelsousa commented on #270
I see. Makes sense. Thanks for the info.

[2017-03-09 20:18] anthrotype commented on #270
@behdad was it this `IndexError` issue?
https://github.com/fonttools/fonttools/pull/883

If so, I think it should be fixed now.

[2017-03-10 04:44] marekjez86 opened #271 "writeInt8 assert -128 <= value < 128 failure in seven sources"
new error impacting 7 sources

AssertionError: (-172, 'list[8]', 'VarData[0]', 'VarStore')
AssertionError: (148, 'list[16]', 'VarData[0]', 'VarStore')
AssertionError: (242, 'list[290]', 'VarData[0]', 'VarStore')
AssertionError: (-151, 'list[251]', 'VarData[0]', 'VarStore')
AssertionError: (-166, 'list[220]', 'VarData[0]', 'VarStore')
AssertionError: (146, 'list[0]', 'VarData[0]', 'VarStore')
Asser

[2017-03-10 04:48] behdad commented on #271
Thanks. Cosimo or I will figure it out.

[2017-03-10 10:30] anthrotype commented on #271
I think it has something to do with https://github.com/fonttools/fonttools/pull/869
I'll have a look.

[2017-03-10 12:41] anthrotype commented on #271
I pushed a patch to fonttools which should fix this issue:
https://github.com/fonttools/fonttools/commit/b2825ff6b3e98cb5c36363e4c88d8e075366f08b

@marekjez86 could you pull that and confirm that those variable Noto fonts can be compiled now? Thanks.

[2017-03-10 14:23] marekjez86 commented on #271
will do.
thanks

On Fri, Mar 10, 2017 at 4:41 AM, Cosimo Lupo <notifications@github.com>
wrote:

--

Marek Z Jeziorek [ 老马 ] | marekj@google.com | 312 725-6958

[2017-03-10 19:08] marekjez86 commented on #271
verified as fixed

[2017-03-10 19:08] #271 closed

[2017-03-10 23:41] marekjez86 commented on #270
things appear to be fixed. now. thanks

[2017-03-10 23:41] #270 closed

[2017-03-10 23:44] marekjez86 commented on #199
this is already done

[2017-03-10 23:44] #199 closed

[2017-03-10 23:44] marekjez86 commented on #199
variable_ttf folder

[2017-03-13 23:40] punchcutter commented on #245
The files above are all the exact same GlyphData.xml. And they aren't used at all in these particular Glyphs files. There's no reason for these GlyphData.xml to be there because nothing related to these scripts is in the file. The only one with related info is Arabic, but it almost all matches what's in the Glyphs source file. I wrote a script to check these things and also make the Glyphs file se

[2017-03-14 17:32] marekjez86 opened #273 "Hebrew non-VF fonts have missing entries in GDEF - GlyphClassDef."
The source: https://github.com/googlei18n/noto-source/blob/master/src/NotoSansHebrew-MM.glyphs

Pipeline generated font: https://github.com/googlei18n/noto-fonts/blob/master/alpha/from-pipeline/unhinted/ttf/sans/NotoSansHebrew-Regular.ttf
Glyphs.app generated font: https://github.com/googlei18n/noto-fonts/blob/master/alpha/from-glyphsapp/unhinted/ttf/sans/NotoSansHebrew-Regular.ttf

test cases:

[

[2017-03-14 17:54] anthrotype commented on #273
I wonder if this is glyphsLib issue might be related:
https://github.com/googlei18n/glyphsLib/issues/115

@marekjez86 do those combining mark glyphs have a non-zero advance? GlyphsLib currently does _not_ zero them out, Glyphs.app does.

[2017-03-14 17:55] marekjez86 commented on #273
I forgot to add: while the metrics are somewhat off (pipeline VF hebrew appears to be slightly "fatter"), the VF font produced by the pipeline doesn't appear to have the same problem as static TTfs.

![he-g-p-002](https://cloud.githubusercontent.com/assets/13322623/23914949/c1fdb8b0-08a4-11e7-98ae-419bc31a5fcb.jpeg)

[2017-03-14 18:05] punchcutter commented on #273
The marks have a non-zero advance so it's definitely the issue @anthrotype mentioned. I almost have a pull request ready for glyphsLib where I could fit this in as it's related.

[2017-03-14 23:45] marekjez86 opened #274 "Thai: slight differences between advance width/kerning between Regular and VF fonts"
Source: https://github.com/googlei18n/noto-source/blob/master/src/NotoSansThai-MM.glyphs

VF font: https://github.com/googlei18n/noto-fonts/blob/master/alpha/from-pipeline/unhinted/variable-ttf/sans/NotoSansThai-VF.ttf
static (Regular) font: https://github.com/googlei18n/noto-fonts/blob/master/alpha/from-pipeline/unhinted/ttf/sans/NotoSansThai-Regular.ttf

sample text
[code]

see the result
[botto

[2017-03-15 01:10] marekjez86 commented on #274
@brawer : I used fontdiff, do we still have problems with mapping of proper weights (it's possible that weight-wise I'm not comparing apples-to-apples so maybe this test is bogus)

[2017-03-15 21:26] marekjez86 opened #275 "Tamil: UI font produced by the pipeline fails our UI font criteria"
source: https://github.com/googlei18n/noto-source/tree/master/src/NotoSansTamil

font produced by the pipeline: https://github.com/googlei18n/noto-fonts/blob/master/alpha/from-pipeline/unhinted/otf/sans/NotoSansTamilUI-Regular.otf

font as expected: https://github.com/googlei18n/noto-fonts/blob/master/alpha/from-glyphsapp/unhinted/otf/sans/NotoSansTamilUI-Regular.otf

Issue: UI font produced by th

[2017-03-15 21:52] anthrotype commented on #275
Yes, that's a known glyphsLib limitation.. We need to add support for transform custom parameters (in this case the outline is shifted up or down by some amount upon export).

[2017-03-15 23:29] marekjez86 commented on #275
![transformation-tamilui](https://cloud.githubusercontent.com/assets/13322623/23975171/7c8c590a-099c-11e7-8ab4-a734820f4443.jpeg)

Is this the option that we do not support at this point?

[2017-03-15 23:57] marekjez86 commented on #275
@anthrotype @behdad : How difficult would it be to add a warning "Unimplemented custom parameter X"? This way I would know (and users of the pipeline would also know).

Also is there a complete list of unimplemented features like this? This way I could tell font designers, for now do not use X or Y in your fonts.

[2017-03-16 23:19] behdad commented on #273
Someone needs to debug why varfont works but static doesn't. Might be user error.

[2017-03-16 23:20] behdad commented on #275
Hah, interesting.  It will be a few day's work and then lots of testing.  I wish we still had @jamesgk working on this stuff :(.

[2017-03-17 02:54] jamesgk commented on #275
Ohh, this is pretty straightforward right? Just a little time-consuming. Or
maybe that's the kind of stuff you're talking about :P

[2017-03-17 16:54] zjusbo commented on #260
I'm closing this issue since:
1. Bug in Cham is fixed by https://github.com/googlei18n/noto-source/pull/67
2.Lao is replaced with new sources
3. Passing options --keep-overlaps -o ttf should complete successfully.

[2017-03-17 16:54] #260 closed

[2017-03-17 23:16] zjusbo commented on #275
I'll take over this one.

Based on the lesson I learned from [this thread](https://github.com/fonttools/fonttools/pull/891), I'm writing the following design plan, discuss it with fellows, before actually starting to code.

Please correct me if I'm wrong. Or please even stop me if it involves to much work and I need to focus on other higher priority stuff.

**Goal**

Respect 'Filter' parameter in

[2017-03-17 23:43] punchcutter commented on #275
@zjusbo I like that idea. As far as I can tell not all of these Filters are supported yet in customParameter inside of Glyphs. Better check with @schriftgestalt to be sure. I've tried Transformations and RoundCorner together and that seems to work. Here's a ridiculous test I did:

Define an instance Custom Parameter called Filter with value

`Transformations;OffsetX:33;OffsetY:40;Origin:4;LSB:+100

[2017-03-18 06:47] schriftgestalt commented on #275
The filter on export support was one of the big issues I had when asked about building a CLI version of the glyphs font export.
The default filters can be handled by had coding them in the pipeline. But people can install custom Filters in Glyphs and use them on export, too.
So if might be a good idea to keep the plugin/modul structure (as it is implemented in Glyphs) to make it as extendable as p

[2017-03-18 18:46] anthrotype commented on #275
Thanks Bo for the thorough analysis and for stepping up to do this.

I was thinking that we could try to make this filters support not necessarily tied with Glyphs.app and glyphsLib. I mean, would be nice if one could apply similar filters whether input is .glyphs or .ufo.

To that end, I think we could have ufo2ft instead of glyphsLib apply the actual filters on the Defcon glyphs before these are

[2017-03-18 19:17] JelleBosmaMT commented on #275
Sorry to make your life more complicated, but.... the possible use of a custom parameter that shifts UI instances has been documented last year in the specification for .glyphs deliverables. A reminder was added to the design proposal of Tamil last summer which already mentioned "Filter = Transformations; OffsetY: 51; Origin: 4; ".

As a reminder: when generating hinted OTFs: do not forget to tran

[2017-03-18 19:55] jamesgk commented on #275
plugins written for Glyphs.app, I am not sure how that could be done from
glyphsLib, which is supposed to run outside of and independently of
Glyphs.app.

documentation, it seems that one needs to import from GlyphsApp.plugins
import FilterWithoutDialog, and this GlyphsApp module would not be
accessible when running glyphsLib in a pure Python environment outside
Glyphs.app.

It might be possible t

[2017-03-18 23:53] schriftgestalt commented on #275
Please have a look at the class branch. The test do pass. Please don't wait to long to merge it before the main branch moves away.

[2017-03-19 10:48] anthrotype commented on #275
@schriftgestalt Right, I'll review it first thing tomorrow.

[2017-03-20 18:02] marekjez86 commented on #264
@anthrotype , @behdad , @brawer : whom could make this happen?

[2017-03-20 18:48] marekjez86 commented on #275
@zjusbo : it looks that this might be fixed. Please find out

[2017-03-20 20:32] anthrotype commented on #275
@marekjez86 Actually, no.. Support for `Filter` custom parameters is not implemented yet anywhere in the pipeline.

[2017-03-20 20:44] anthrotype commented on #264
I don't think we are planning to "skip MutatorMath" anytime soon, however "easy" this may seem to some of you.
What is relatively easier (i.e. wouldn't require changes to the code) would be to modify the .glyphs sources that have such non-rectangular interpolation space, and add intermediate masters to make it so. In theory, this could (should) be done automatically in glyphsLib, but I am a bit sw

[2017-03-20 23:34] zjusbo commented on #275
Thanks all for the feedbacks and instructions!

Here is a brief summary of where we are currently:

1. Not all of these Filters are supported yet. At least **Transforms** and **RoundCorner** seems to work. Be careful about the unclear syntax in customParameter. - punchcutter
2. Keep the plugin/module structure(**What does it mean?**). Be careful about supporting 'include|exclude:list, of, glyph, n

[2017-03-21 05:08] jamesgk commented on #275
This is a question I faced a lot working on fontmake. The counter-argument is that while this feature originates in Glyphs, it doesn't *necessarily* need to be tied to Glyphs. We can embrace it as a pattern for font compilation by supporting similar UFO data and converting to that as Cosimo suggests. And I tend to listen to the folks from Dalton Maag as they're more in tune than I am with needs of

[2017-03-21 05:56] xiangyexiao commented on #273
Marek,

could you look into this bug?

I am wondering whether Glyphs app generated static font has the same issue.

[2017-03-21 09:50] JelleBosmaMT commented on #264
On 20-mrt.-17 21:44, "Cosimo Lupo" <notifications@github.com> wrote:

The task of the “pipeline” software is to generate fonts from .glyphs
sources. It is not the job of font generating software to modify  source
files and introduce an extra layer of rounding. These fonts are at a crude
1000 units per EM and there is plenty of rounding already.

And indeed, interpolating is not hard if the instanc

[2017-03-21 09:57] LettError commented on #264
Here are some pictures that show how VariationModel calculates the factors, and how to interpret a system with non-aligned masters. http://letterror.com/dev/mutmath_varmod/

[2017-03-21 10:19] JelleBosmaMT commented on #264
I just realized, that if @anthrotype can use GlyphsLib to automatically add "missing masters", then GlyphsLib can generate ANY interpolated instance. Which would solve the problem too.

[2017-03-21 12:52] justanotherfoundry commented on #264
Just a quick note, the 3-axis limitation of Glyphs is not a restriction of the algorithm that computes the coefficients. It can handle an unlimited number of axes and an unlimited number of masters.

[2017-03-21 12:58] LettError commented on #264
@justanotherfoundry great, publish it.

[2017-03-21 19:44] marekjez86 commented on #273
@xiangyexiao : Glyphs app generated static font doesn't have this problem (see the first two images upper/pink lines).

[2017-03-21 19:52] marekjez86 commented on #273
@punchcutter : what's the status of the change mentioned in the comment above: "The marks have a non-zero advance so it's definitely the issue @anthrotype mentioned. I almost have a pull request ready for glyphsLib where I could fit this in as it's related."? any update? If done, where could I get it?

[2017-03-21 20:02] anthrotype commented on #273
See https://github.com/googlei18n/glyphsLib/pull/154

[2017-03-21 20:56] zjusbo commented on #275
Thanks James. At the meantime of waiting for inputs from Dalto Maag, I'm following Cosimo's and your advice, looking into the [ufo2ft](https://github.com/zjusbo/ufo2ft) codebase and see how I can fix it there.

[2017-03-23 00:20] behdad commented on #273
@marekjez86 Can you confirm that there's no user error involved?  I just built variable, otf, and ttf fonts from the same source and all three work as expected.  The code I'm running definitely does NOT have the googlei18n/glyphsLib#154 fix, and I know that fix is NOT required for this sequence to work.  Something else is going on.

[2017-03-23 08:00] marekjez86 commented on #273
@behdad : it's possible that this is an older build of the fonts or a fontdiff problem. I'll check it out later today. Could you send me the fonts that you built so I can have them as a reference?

[2017-03-31 07:58] jungshik opened #280 "Do not include cmap table with pid=0/eid=3 and name ids with platformID=1, platEncID=0"
At least, NotoSansKhmer-VF.ttf has cmap table with pid=0 and eid=3. It also has variation-font related name ids with platformID=1, platEncID=0.

The former (cmap table) does not increase the file size much (~ 100 bytes) because the actual table is shared with pid=3/eid=1.  However, the latter increases the file size by ~ 4kB.

fontmake should not include those entries.

@marekjez86 @behdad @roozbe

[2017-03-31 08:11] jungshik commented on #280
Static instances corresponding to NotoSansKhmer-VF.ttf also have cmap table with PID=0/EID=3.

[2017-03-31 09:16] anthrotype commented on #280
About fvar-related name ids with platform 1 platEncID 0:
https://github.com/fonttools/fonttools/issues/683
https://github.com/fonttools/fonttools/issues/756

[2017-03-31 09:21] anthrotype commented on #280
the cmap subtables are written by ufo2ft here:

https://github.com/googlei18n/ufo2ft/blob/b2db479a87cdc484c0b50f550478bb7b4983a6a5/Lib/ufo2ft/outlineCompiler.py#L381

I don't think it's worth dropping platform 0 (Unicode) cmap for just a few bytes.

[2017-03-31 23:20] xiangyexiao commented on #273
@marekjez86

Is this issue still there?

[2017-03-31 23:37] xiangyexiao commented on #273
I tested the two test cases with FontView using the two fonts in the first provided in the original report, but cannot reproduce this issue.
<img width="1281" alt="screen shot 2017-03-31 at 4 34 51 pm" src="https://cloud.githubusercontent.com/assets/12721521/24572729/3582913c-1630-11e7-8355-6991f5b27bce.png">
<img width="1359" alt="screen shot 2017-03-31 at 4 32 25 pm" src="https://cloud.githubuse

[2017-03-31 23:51] xiangyexiao commented on #273
also tested the two fonts in the original report with hb-view. Don't see this bug.
<img width="1399" alt="hb" src="https://cloud.githubusercontent.com/assets/12721521/24572942/35699478-1632-11e7-8b92-6fa515f5617d.png">

bottom: pipeline generated font
top: glyphsapp generated font

so close it

[2017-03-31 23:54] xiangyexiao commented on #273
@marekjez86 please check if fontdiff has an issue.

[2017-04-01 00:10] xiangyexiao commented on #273
for peace of mind, also checked VF. no issue either.

<img width="1400" alt="3-way" src="https://cloud.githubusercontent.com/assets/12721521/24573176/ca59b714-1634-11e7-9a14-5930b16e26c6.png">

[2017-04-01 00:17] xiangyexiao commented on #273
@jungshik

Noto Serif Hebrew doesn't have this issue either (internal bug report mentions serif fonts too)

<img width="1402" alt="serif" src="https://cloud.githubusercontent.com/assets/12721521/24573245/c82cc994-1635-11e7-9a56-739b88c96830.png">

1st line: glyphsapp static
2nd line: pipeline generated static
3rd line: pipeline generated VF

[2017-04-01 00:35] jungshik commented on #273
The 1st line is Phase 2 and the 2nd line is phase 3 -static (Noto Sans Hebrew-Regular)
![image](https://cloud.githubusercontent.com/assets/8578343/24573455/1e4bb662-1638-11e7-9c5f-a2c3268a1044.png)

It's from hb-veiw ToT with direction=rtl.

The input string is made up of the following code points (I got the code points from Marek's bug report in comment 0; I might have made a mistake somewhere)>

[2017-04-01 00:36] xiangyexiao commented on #273
just a heads-up. I updated FontView from 0.2.0 to 0.2.3 and this issue appears again. will try to report more details later

[2017-04-01 03:17] xiangyexiao commented on #273
@behdad @jungshik @roozbehp

Okay here is the complete report.

Summary:

With HarfBuzz 1.4.5:
Spacing and Nikkud shifting issues can be seen with the pipeline generated NotoSansHebrew static and NotoSerifHebrew static fonts. VF fonts and glyphsapp generated static fonts don't have this issue.

With BarfBuzz 1.3.3:
glyphsapp generated static fonts and pipeline generated static and VF fonts don't h

[2017-04-02 17:29] jungshik commented on #280
I'm aware that the difference is very small because the actual data is shared, but Android wants to drop them anyway. @roozbehp

[2017-04-02 17:33] jungshik commented on #280
Thank you for the pointer the fvar-related name ids with PID/EID=1/0 on Mac. It appears that at least for now, PID/EID=1/0 name ids have to be removed when variation fonts are installed on other platforms if they do care about the size reduction.

@dougfelt

[2017-04-03 17:00] jungshik commented on #273
HarfBuzz 1.4.2 is also fine. ToT Harfbuzz somehow does not like the pipeline generated static Hebrew fonts.

[2017-04-03 18:11] jungshik commented on #273
Sorry for the confusion.  HarfBuzz 1.4.2 does have the same issue with a pipeline-built Noto Hebrew static fonts as shown in https://github.com/googlei18n/fontmake/issues/273#issuecomment-290879035

[2017-04-03 18:43] jungshik commented on #273
There are two issues here. One is handling of sequences like <U+05D9, U+05BC>.

With the pipeline generated NotoSansHebrew-Regular (static), I got this from hb-text (--direction=rtl):

[code]

With glyphsapp generated NotoSansHebrew-Regular (static), I got this from hb-text (--direction=rtl):
[code]
Aside from the glyph name difference (that does NOT matter), the position of 'dagesh' (uni05BC) is

[2017-04-03 19:18] jungshik commented on #273
Harfbuzz 1.3.3 with the pipeline generated NotoSansHebrew-Regular.ttf (static) gives me the following:

[code]
That's the same as Harfbuzz ToT (740fdbc) + the glyphapp generated font (the glyph name difference does not matter.).

So, as Xiangye found out, somehow Harfbuzz ToT does not like NotoSansHebrew static generated by the pipeline while HB 1.3.3 was fine with it.

[2017-04-03 20:09] jungshik commented on #280
Close for now.

[2017-04-03 20:09] #280 closed

[2017-04-03 20:35] jungshik commented on #273
With bisecting, I found out a commit in HarfBuzz that triggered this issue. It's a fix  for behdad/harfbuzz#347.

[code]

I don't think we can revert the above commit (because that does the 'right' thing). Still need to figure out why Noto*Hebrew static from the pipeline has an this issue. Either its GDEF is somehow 'broken' or GSUB/GPOS do not have Hebrew ScriptSystem or something.

I compared GD

[2017-04-03 21:16] jungshik commented on #273
JFYI:
As a spot check, I compared GDEF in NotoSansKhmer-Regular.ttf to GDEF in NotoSansKhmer-VF.ttf (both generated by fontmake). They're identical as far non-VF-related sections of GDEF are concerned.
It may be necessary to do this check more systematically.

[2017-04-03 21:40] punchcutter commented on #273
Comparing to the Noto Khmer isn't so good because the Khmer GDEF is coming from --mti-source in fontmake. The Hebrew GDEF is generated with glyphsLib which until 1.5.2 has not been correct. This has been addressed in https://github.com/googlei18n/glyphsLib/pull/154 so it should hopefully be correct when glyphsLib is updated.

I see a couple issues here.
1. GDEF and mark classes have not been gener

[2017-04-03 22:09] punchcutter commented on #273
I see why the kerning isn't working correctly. IgnoreMarks=False in the pipeline generated, but not in the Glyphs generated. If I just flip that flag in the pipeline generated then the kerning works.

[2017-04-03 23:55] jungshik commented on #273
Thank you, @punchcutter !

@marekjez86 , can you rebuild Hebrew static fonts?

@dougfelt

[2017-04-04 01:36] marekjez86 commented on #273
@punchcutter : do I need to do anything special to correct "IgnoreMarks=False in the pipeline generated, but not in the Glyphs generated."? Where is it done? When was it done?

[2017-04-04 03:31] punchcutter commented on #273
@marekjez86 I only edited the binary TTF as a test to make sure it was only this flag that was causing kerning to fail. I don't see anywhere in the UFO format to store these flags, but in the pipeline it can be done in ufo2ft in kernFeatureWriter.py.  I just tried by adding the IgnoreMarks line here and it seems to work:
[code]
One question, though, is whether or not this should always be set to T

[2017-04-04 07:36] schriftgestalt commented on #273
In Glyphs, most scripts (including Hebrew) get the `IgnoreMarks` set by default.

[2017-04-04 07:51] punchcutter commented on #273
@schriftgestalt Nice. That's helpful. Are there any scripts that don't get it set by default? Or do you have a list of scripts it does get set for? If we want the pipeline to produce the same thing as Glyphs then we should definitely add this to ufo2ft.

[2017-04-04 07:52] behdad commented on #273
I think ignoring is a better default, yes.

[2017-04-04 08:37] marekjez86 commented on #273
@jungshik : I rebuilt the fonts at https://github.com/googlei18n/noto-fonts/blob/master/alpha/from-pipeline/unhinted/ttf/sans/NotoSansHebrew-Regular.ttf and others but from the discussion above it looks that it might not help. I'll try to check later, but it looks to me that we need to modify the code.

[2017-04-04 08:37] schriftgestalt commented on #273
There are some rules but they end up to set it for most scripts in the end. And for the ones that don't get it right now, it should better be set I suppose.

This is a hardcoded list that get it:
`latin, cyrillic, arab, hebrew, nko, syriac, thai, lao, myanmar, khmer, devanagari, georgian`
And all other indic scripts get it, except `kannada`.

[2017-04-04 17:47] punchcutter commented on #273
@marekjez86 Yes, glyphsLib needs to be updated to at least 1.5.3 and ufo2ft should be updated to set `IgnoreMarks`. Then if you rebuild it should look correct. My local tests look good so far.

[2017-04-04 18:17] jungshik commented on #273
@marekjez86  Sorry that I was not clear (and thank you for rebuilding them anyway). I meant rebuilding after updating glyphsLib and ufo2ft (what @punchcutter wrote).

[2017-04-04 18:35] anthrotype commented on #273
ufo2ft 0.4.2 now sets `IgnoreMarks` lookup flag, thanks to @punchcutter
https://pypi.python.org/pypi/ufo2ft/0.4.2

[2017-04-05 13:35] marekjez86 commented on #273
I pulled recent fontmake.
Updated requirements for ufo2ft to 0.4.2
**_more requirements.txt_**
_fonttools==3.9.1
cu2qu==1.1.1
glyphsLib==1.6.0
ufo2ft==0.4.2
MutatorMath==2.0.3
defcon==0.3.1
booleanOperations==0.7.0_

built fontmake and used
https://github.com/googlei18n/noto-source/blob/master/src/NotoSansHebrew-MM.glyphs
and
https://github.com/googlei18n/noto-source/blob/master/src/NotoSerifHebre

[2017-04-05 14:14] marekjez86 commented on #273
I realized I need to check my hard buzz version.

[2017-04-05 14:15] marekjez86 commented on #273
Harfbuzz : phone spelling correction intervened

[2017-04-05 22:45] punchcutter commented on #273
@marekjez86 As a test I created a new virtual machine (OS X 10.12.4) with absolutely nothing on it. I installed git, cloned noto-source and fontmake, built fontmake and generated the Hebrew Sans and the fonts are identical to what I'm getting already which looks correct. Maybe there's a difference in fontdiff. I'm using dev version on OS X and not seeing the spacing shown above.

[2017-04-06 01:32] xiangyexiao commented on #273
all look very promising. thanks for the quick fix.

@marekjez86 if you could rebuild the sans and serif fonts, we can then update problematic fonts in google.com/get/noto quickly.

[2017-04-06 09:49] davelab6 opened #281 "glyphs file input VF 'wght' axis scale not as expected"
The font available at fonts.googleapis.com/earlyaccess/nunitovfbeta.css was made by @m4rc1e using fontmake (via https://gist.github.com/m4rc1e/8b9a6e5678c6628eae7e682d4de63220#file-gf_vf-py-L120-L142) the scale of the 'wght' axis is not 100 to 900 as expected, but 50 to 160.

I guess that is because those are the arbitrary interpolation values used in GlyphsApp which correspond to stem widths in U

[2017-04-06 10:02] moyogo commented on #281
This is a duplicate of #167.

[2017-04-06 10:30] #281 closed

[2017-04-06 10:30] davelab6 commented on #281
Thanks @moyogo :)

[2017-04-08 12:49] marekjez86 opened #283 "Georgian: issue with source or with a parser? "AssertionError: illegal CharString" what does it mean?"
source: https://github.com/googlei18n/noto-source/blob/master/src/NotoSansGeorgian-MM.glyphs
traceback:

INFO:fontmake.font_project:Removing overlaps for NotoSansGeorgian-ExtraCondensedBlack
INFO:fontmake.font_project:Saving OTF for NotoSansGeorgian-Thin
Traceback (most recent call last):
  File "/usr/local/bin/fontmake", line 9, in <module>
    load_entry_point('fontmake==1.2.2.dev0', 'console_sc

[2017-04-08 13:16] marekjez86 commented on #283
This is similar to https://github.com/googlei18n/fontmake/issues/190 (unreproducible)

I added print to before the assert. It fails/asserts on rlineto

NFO:fontmake.font_project:Saving OTF for NotoSerifGeorgian-Thin
endchar
endchar
endchar
endchar
endchar
endchar
endchar
endchar
endchar
endchar
endchar
endchar
endchar
endchar
endchar
endchar
endchar
endchar
endchar
endchar
endchar
endchar
endchar

[2017-04-08 13:34] anthrotype commented on #283
I cannot produce.
I pulled the latest noto-source master, and run:

[code]

both the TTF and OTF built without errors, both with python 2.7.13 and 3.6.1 (on macOS).

[2017-04-08 14:32] marekjez86 commented on #283
I re-started my environment. Rebuilt the stuff and I cannot reproduce the issue.

[2017-04-08 14:32] #283 closed

[2017-04-08 14:33] marekjez86 commented on #273
I re-started my environment. Rebuilt the stuff and I cannot reproduce the issue.

[2017-04-08 14:33] #273 closed

[2017-04-08 14:33] marekjez86 commented on #273
![he-273](https://cloud.githubusercontent.com/assets/13322623/24829809/217ac912-1c79-11e7-8725-7e45b92e2f47.png)

[2017-04-09 15:01] anthrotype opened #284 "standalone fontmake executable"
Some of you may have noticed that in the latest fontmake release [v1.2.3](https://github.com/googlei18n/fontmake/releases/tag/v1.2.3), I uploaded a stand-alone fontmake executable which bundles everything in a single file and does not even require Python to be installed.

I used the latest [pyinstaller](http://www.pyinstaller.org/) and Python 3.6.1 (official builds from Python.org) from my local m

[2017-04-11 01:05] punchcutter commented on #284
I tried out the stand-alone today and it failed here because Python 3:

[code]

[2017-04-11 06:58] anthrotype commented on #284
Thanks Zachary. That looks like a bug in the actual code, rather than an issue in the standalone wrapper. I'll fix that.

[2017-04-11 13:17] marekjez86 opened #286 "maxZones in static TTF files from pipeline has incorrect value"
All TTF files we produce have incorrect value for maxZones. This information is reported by ftxvalidator running on Mac

There's just a single error for all files:
maxp: The maxZones field is equal to 1; it should be equal to 2

_ftxvalidator -t all -T \<font-file-name\>_

NotoSerifSinhala-SemiBold.ttf.txt:			maxp: The maxZones field is equal to 1; it should be equal to 2
NotoSerifSinhala-Thin.ttf

[2017-04-11 13:28] marekjez86 commented on #286
There are more related maxp table messages produced by ftxvalidator for each font file:

        com.apple.TrueType.maxp.structure
                ‘maxp’ table structure
                This test ensures the structure of the maximum profile table, ‘maxp’, accords with the specification.
                Minor
                        maxp: The maxZones field is equal to 1; it should be equal to 2

[2017-04-11 18:23] brawer commented on #167
Summarizing the current state:

* the [designspace document format](https://github.com/LettError/designSpaceDocument/) has been updated to hold the needed information in `<axes>`;
* glyphsLib has been updated to emit designspaces with `<axes>`, following the new spec;
* varLib still needs work; see https://github.com/fonttools/fonttools/issues/916.

[2017-04-11 19:44] punchcutter opened #288 "Open Corners allowed in Glyphs source?"
I was pretty sure I didn't have problems with open corners before, but right now I have some Glyphs sources with open corners in the outlines and the fonts generated with fontmake don't take care of the corners properly. I'm not sure if I broke something somewhere or is it just that open corners aren't supported at all?

[2017-04-11 19:50] moyogo commented on #288
Overlaps in general are removed by default unless fontmake is called with --keep-overlaps. What kind of “open corner” are you talking about?

[2017-04-11 19:50] anthrotype commented on #288
No, they are not supported. We will need to figure out how these "open corners" are stored in the .glyphs source and derive the closed path from them by finding the intersection.

[2017-04-11 19:52] anthrotype commented on #288
sorry, maybe I'm confusing this with something else I saw at some fontlab VI presentation..

[2017-04-11 19:53] punchcutter commented on #288
I'm talking about in Glyphs you can select points and contextual menu Open Corner. It's a nice feature in some situations.

[2017-04-11 19:54] moyogo commented on #288
Open corners can be inner or outer shapes. Like @anthrotype says, fontmake currently doesn’t support outer open corners. But inner open corners are just regular overlaps.

[2017-04-11 19:55] punchcutter commented on #288
Yes, that's what I'm talking about. The outer kind. In this case they just turn into little triangles on the outside:

![opencorners](https://cloud.githubusercontent.com/assets/11257204/24928143/2cf2b810-1eb6-11e7-9536-9c119ad9e96f.png)

[2017-04-11 19:57] anthrotype commented on #288
indeed, removing the overlaps means making a union of all the contours in the glyph; if you open a corner and it falls outside, then it's not merged. I can't see another way to handle them.
How does Glyphs.app treat those when you remove overlap?

[2017-04-11 20:04] moyogo commented on #288
@punchcutter These don’t translate to open corners that need to be removed in UFO.
@anthrotype I guess glyphsLib could add a key to the UFO to indicate to ufo2ft to delete the outer open corners.

Glyphs.app just removes the outer open corners when removing overlaps but only when they are in the right direction and their size is below a threshold relative to the neighbouring outline segments.

[2017-04-11 20:06] anthrotype commented on #288
Hm, I don't know, I'll have to play with it to understand what it does.
At first glance, this seems to go against the usual fill-in rules that clipper library uses to do the union of the paths.

[2017-04-11 22:23] punchcutter commented on #288
Looks like we need something like GSPathPen as shown here: https://forum.glyphsapp.com/t/how-to-detect-an-outside-open-corner/4117/11

For now I can just run a script in Glyphs to remove all the corners, but it would be nice to not alter the source files.

[2017-04-12 08:20] brawer opened #289 "Cleaner workflow for Monotype feature files"
For the Noto project, our main vendor (Monotype, MTI) delivers feature files in the [Monotype feature file format](http://monotype.github.io/OpenType_Table_Source/otl_source.html); see [Noto Sans Khmer](https://github.com/googlei18n/noto-source/tree/master/src/NotoSansKhmer) for an example. fonttools.mtiLib can compile these files, but the fontmake workflow is messy because this side input gets in

[2017-04-12 08:45] anthrotype commented on #289
I like the idea of having self-contained UFOs for MTI-based projects. However one can't just drop arbitrary files in the top-level UFO directory. Changing the UFO spec is doable, but would require some time.
The format has a `data` folder exactly for the purpose of storing private, application specific data.

http://unifiedfontobject.org/versions/ufo3/data/

We could have fontmake place the MTI so

[2017-04-12 08:57] brawer commented on #289
Sounds good; thanks for pointing this out.

[2017-04-13 12:34] marekjez86 opened #291 "Question: how to validate tables in the pipeline generated OTF fonts"
I have two sample OTF fonts produced from exactly the same sources. One generated by the pipeline and the other provided to us as a reference font.

Each of these fonts is provided below as an OTF file, ttx  (created from the OTF) file and glyphs file (also created from the OTF for that weight).

[pipeline-NotoSansTamil-Regular.zip](https://github.com/googlei18n/fontmake/files/919484/pipeline-Noto

[2017-04-13 13:00] anthrotype commented on #291
By correct, do you mean that they are identical or equivalent to the reference font? Or correct in general, e.g. according to the OT spec?

[2017-04-13 13:39] brawer commented on #291
@marekjez86, try [fontdiff](https://github.com/googlei18n/fontdiff).

[2017-04-13 13:53] marekjez86 commented on #291
In this case, I have the reference font. I would like to know if what we produce is  equivalent to the reference font. I do not expect exactly the same as the reference font.

So far, I tried:
- fontdiff and looked at the results (but it depends on having samples exercising all of the features)
- notodiff -t area
- notodiff -t rendered
- ftxvalidator -t all -T [single font]
- noto_lint.py  [single

[2017-04-13 14:25] brawer commented on #291
Sounds reasonable.

[2017-04-13 14:25] #291 closed

[2017-04-13 14:55] anthrotype commented on #286
the maxp.maxZones should be equal to 2 if the font is hinted (ttfautohint takes care of setting those), when the font is unhinted, the value can be 1 (in any case, it's ignored).

About the maximum component depth > 1 which may not work properly on OS X, I think that warning is obsolete.

[2017-04-13 15:10] brawer commented on #286
The [OpenType spec](https://www.microsoft.com/typography/otspec/maxp.htm) disagrees with [Apple’s spec](https://developer.apple.com/fonts/TrueType-Reference-Manual/RM06/Chap6maxp.html) about the correct value for `maxZones`. The code that sets it to 1 is in [ufo2ft.outlineCompiler](https://github.com/googlei18n/ufo2ft/blob/master/Lib/ufo2ft/outlineCompiler.py#L986).  We follow the OpenType spec, s

[2017-04-13 15:15] anthrotype commented on #286
It doesn't make any difference if the font has no hinting. The fonttools subsetter sets it to 1 when `--no-hinting` option is passed (which drops the hinting); ttfautohint sets all the maxp values to 0, including maxZones, with the `--dehint` option (see `ttfautohint/src/lib/tamaxp.c`).
It's a non issue.

[2017-04-13 15:16] lemzwerg commented on #286
FreeType completely ignores the `maxZones` value.

[2017-04-13 15:29] brawer commented on #286
I’ve filed a bug with Apple, asking them if their TrueType spec could perhaps follow OpenType in this (admittedly rather minor) regard. And, in case they do change the spec, if they could perhaps also change ftxvalidator accordingly. Apple radar bug ID 31606020; copied it to [OpenRadar](https://openradar.appspot.com/radar?id=4972933873139712).

[2017-04-13 15:31] #286 closed

[2017-04-13 20:13] behdad commented on #167
Done.

[2017-04-14 05:46] miguelsousa commented on #291
@marekjez86 you could also try diff'ing `ttxn` dumps of the fonts.

[2017-04-14 16:56] behdad commented on #291
I diff'ed the raw ttx dumps.  They are different for obvious reason but much closer than I have had expected.  I like writing a little fontTools module that can diff and account for functionally-equivalent representations...

[2017-04-14 19:16] marekjez86 commented on #291
@miguelsousa, @behdad  : I generated ttx dumps (not certain what ttxn is). I actually created 3 different dumps per font file: everything, GSUB only dump and GPOS only dump. I did "diff -b" of corresponding files, but I lack of knowledge required for the tables hence I need to learn more to be able to assess the diffs.

[2017-04-14 19:32] miguelsousa commented on #291
ttx**n** is a spinoff of ttx that @readroberts developed. It's available in the FDK package. **notodiff** uses it for the GSUB/GPOS diffs. So if you're using notodiff you may have ttxn already installed.

[2017-04-19 01:05] marekjez86 opened #293 "naming issues on the example of Georgian"
Per John H. of Tiro here are some naming issues on the example of Georgian font naming (but any font would have these issues):

"1. There are problems in the naming of some fonts.
The <NotoSerifGeorgian-ExtraBold.otf> font has the family (name ID 1) name
    Noto Serif Georgian Extra
The <NotoSerifGeorgian-SemiBold.otf> font has the family (name ID 1) name
    Noto Serif Georgian Semi
The same is

[2017-04-19 10:04] brawer commented on #293
To reproduce:

[code]

Surprisingly, the UFO has the correct family name:

[code]

[2017-04-19 10:08] #167 closed

[2017-04-19 10:11] brawer commented on #167
Verified with current fontmake.

[code]

now gives the expected `fvar` table:

[code]

[2017-04-19 10:59] brawer commented on #293
Actually, isn’t the current name ID 1 (“Noto Serif Georgian Semi”) exactly what’s expected, as per the [OpenType specification](https://www.microsoft.com/typography/otspec/name.htm)? At the very end of that page, the spec gives an example for an extended non-WWS family (Minion Pro). The structure of that example seems to match the current output for Noto.

[2017-04-19 11:11] marekjez86 commented on #293
@tiroj : could you look at the previous comment in this bug?

[2017-04-19 11:18] marekjez86 commented on #293
@brawer : In the document I see

"Minion Pro Semibold:
Name ID 1: Minion Pro SmBd "

To be like the above I'd expect
Name ID 1: Noto Serif Georgian SmBd

but I'm not that "fluent" in OpenType specification

[2017-04-19 12:28] brawer commented on #293
To my limited knowledge, the exact string (“Semi” or “SmBd”) does’t matter. As long as the style linking is in place, which seems to be the case.

[2017-04-19 16:08] miguelsousa commented on #167
@brawer what about the Width axis? No need to align it with widthClass property?

[2017-04-19 16:34] brawer commented on #167
For width, fontmake already produces fvar tables as prescribed by the [OpenType spec](https://www.microsoft.com/typography/otspec/fvar.htm#VAT), with 100 being whatever the designer considers “normal” for the font.

[2017-04-19 16:39] tiroj commented on #293
Semi doesn't mean SemiBold. It could mean SemiLight, SemiCondensed, SemiAnythingElse. Likewise Extra.

SmBd is fine if that's the approach you want to take. Personally, I prefer to avoid abbreviated style names unless necessary to fit within a character limit.

[2017-04-20 01:22] miguelsousa commented on #167
@brawer are NotoSerifGeorgian-MM.glyphs or NotoSerifGeorgian-VF.ttf publicly available? I couldn't find any of them at https://github.com/googlei18n/noto-fonts

[2017-04-20 01:26] behdad commented on #167
https://github.com/googlei18n/noto-source/tree/master/src

[2017-04-20 01:55] miguelsousa commented on #167
I get this error when using the same command as Sascha

[code]
It's a clean installation of fontmake. See the version of the dependencies below. Do I need to pick up a later commit on any of these for things to work?
[code]

[2017-04-20 04:52] miguelsousa commented on #167
Updating `glyphsLib` to the current last commit fixes it. Before that the `<axes>` element was empty.

[2017-04-21 16:40] marekjez86 opened #295 "help needed: I am unable to make progress on testing variable fonts"
This is a follow up to https://github.com/googlei18n/fontmake/issues/167

From sources at https://github.com/googlei18n/noto-source/tree/master/src I managed to build the following variable files that have only weight axis:

The following newly built VF fonts have only single weight axis (axis="wght"); see https://github.com/googlei18n/noto-fonts/tree/master/alpha/from-pipeline/unhinted/variable-t

[2017-04-21 16:46] marekjez86 commented on #295
Here are the PDFs with various test results

[reirebuiltvariablefonts (1).zip](https://github.com/googlei18n/fontmake/files/947717/reirebuiltvariablefonts.1.zip)
[reirebuiltvariablefonts.zip](https://github.com/googlei18n/fontmake/files/947716/reirebuiltvariablefonts.zip)

[2017-04-21 17:45] brawer commented on #295
Also, try axis-praxis.org with [Apple’s WebKit nightly](https://webkit.org/nightly/), or with the Chrome canary build with special flags for upcoming web platform features; Behdad can help you to set this up.

[2017-04-21 17:56] marekjez86 commented on #295
The fonts work in font view (changing axis values in all of them does the "right" thing)

![hebrew-sans-in-fontview](https://cloud.githubusercontent.com/assets/13322623/25290058/164c29ca-2681-11e7-9c95-fff34e76fa2b.jpeg)
![lao-sans-in-fontview](https://cloud.githubusercontent.com/assets/13322623/25290056/1648813a-2681-11e7-97be-f386964a0b10.jpeg)
![sinhala-in-fontview](https://cloud.githubusercont

[2017-04-21 19:37] TidharC commented on #295
Are there any written instructions for Chrome Canary?

On:
http://www.axis-praxis.org

I tried Hebrew text with Nikkud:

ְאָנֹכִי מְצָוְךָ

it seems font switching and sliders don't work if I paste text copied, for example, from some web pages (https://he.wikisource.org/wiki/קטגוריה:דברים_ו_ו).  For reference, call this text type-1.

Everything works if I type the same text, or if I copy-paste fro

[2017-04-21 19:57] marekjez86 commented on #295
I downloaded latest WebKit and Chrome canary build.
Using webkit I went to http://www.axis-praxis.org and tested our NotoSans-VF.ttf font.

The variable font features appear to be working (both weight and width).
However, the differences in width from ExtraCondensed to Regular on that web site appear to be minimal. See the progression of the images from the narrowest to widest when I manipulated t

[2017-04-21 20:33] marekjez86 commented on #295
re copy and paste: it appears that you need to paste a "pure text" as opposed to a structured text to get some font variation. IMHO, this is a site issue or a feature.

On http://www.axis-praxis.org using Webkit I got
- hebrew font weight working nicely, width was negligible.
- cherokee with weight only was fine (no width axis here).

![black-cherokee](https://cloud.githubusercontent.com/assets/13

[2017-04-21 21:10] miguelsousa commented on #295
@marek see http://www.axis-praxis.org/blog/2017-04-18/18/the-variable-state-of-the-browsers-early-2017

[2017-04-21 21:33] m4rc1e commented on #295
@marekjez86 I just tried the [Hebrew VF font](https://github.com/googlei18n/noto-fonts/blob/master/alpha/from-pipeline/unhinted/variable-ttf/sans/NotoSansHebrew-VF.ttf) in both Webkit and ftview. I'm getting the same behaviour you described.

Axis Praxis:
![noto-hebrew](https://cloud.githubusercontent.com/assets/7525512/25296615/1c2cb26e-26e1-11e7-835d-e496d2ae55a1.gif)
Little to no change on widt

[2017-04-21 21:56] m4rc1e commented on #295
@marekjez86  The Hebrew VF font doesn't contain many Latin glyphs, only whitespace glyphs, CR, null, space, nbspace.

![screen shot 2017-04-21 at 22 48 07](https://cloud.githubusercontent.com/assets/7525512/25297290/b18aa520-26e4-11e7-83e0-27a1ff0ff297.png)

I notice these glyphs work for the width axis.

![hello-you](https://cloud.githubusercontent.com/assets/7525512/25297396/70faf59a-26e5-11e7-9

[2017-04-21 22:19] m4rc1e commented on #295
If I drag n drop both the [Hebrew VF](https://github.com/googlei18n/noto-fonts/blob/master/alpha/from-pipeline/unhinted/variable-ttf/sans/NotoSansHebrew-VF.ttf) into Axis Praxis and only change the width axis, it works fine.

![hebrew-22](https://cloud.githubusercontent.com/assets/7525512/25297835/56c9745a-26e8-11e7-86d8-9b0eafe173ca.gif)

As soon as I change the weight, the width axis fails to wo

[2017-04-21 22:29] marekjez86 commented on #295
nice catch...
I used _./build variable <source>_ from https://github.com/googlei18n/noto-source
after modifying the scripts/fontmake/requirements.txt to have the following contents:

_fonttools==3.10.0
cu2qu==1.1.1
glyphsLib==1.7.0
ufo2ft==0.5.0
MutatorMath==2.0.4
defcon==0.3.2
booleanOperations==0.7.0_

[2017-04-21 22:35] m4rc1e commented on #295
Chrome Canary does the same.

![canary-noto-vf](https://cloud.githubusercontent.com/assets/7525512/25298172/c7ef85a0-26ea-11e7-8a71-3ff4f79c8bd1.gif)

I'll build the fonts myself at varying commits to see what codebase changes have led to this.

[2017-04-21 22:59] marekjez86 commented on #295
@m4rc1e : Is this a regression from the previous builds (i.e., did it work properly before)?

[2017-04-21 23:03] m4rc1e commented on #295
@marekjez86 I don't know yet. I've only just played with these fonts :-)

[2017-04-21 23:41] marekjez86 commented on #295
the big recent change was https://github.com/googlei18n/fontmake/issues/167

[2017-04-22 00:01] behdad commented on #295
Ok, let me see what's going on.  Will report momentarily.

[2017-04-22 00:06] behdad commented on #295
I just built font and it works fine in atm for me.  Can someone send me their built font to test?

[2017-04-22 00:09] behdad commented on #295
Ugh.  fontmake has old glyphsLib version...  Let me fix that first.

[2017-04-22 00:11] behdad commented on #295
All works for me with fontmake master and noto-source master.  Email me the font please.

[2017-04-22 07:17] m4rc1e commented on #295
@behdad I used the fonts @marekjez86 provided in a link further up the thread, https://github.com/googlei18n/noto-fonts/tree/master/alpha/from-pipeline/unhinted/variable-ttf/sans

[2017-04-23 04:36] marekjez86 commented on #295
@brawer : could you mail me or attach here the font that works? thanks.

[2017-04-23 12:38] marekjez86 commented on #295
@behdad : could you mail me or attach here the font that works? thanks.

[2017-04-23 13:53] marekjez86 opened #296 "new fontmake behaviour: AssertionError while compiling src/NotoSansCarian-MM.glyphs"
source: https://github.com/googlei18n/noto-source/blob/master/src/NotoSansCarian-MM.glyphs

this is one of the fonts that has only Regular weight/width.

however, previous fontmake would build NotoSansCarian-Regular-VF.ttf

now it gets assertion error.

If this is an intended behaviour I'd like to know what needs to change in the sources to produce a font

fontmake -g src/NotoSansCarian-MM.glyphs

[2017-04-23 14:17] marekjez86 opened #297 "question/enhancement: how could I generate a variable font just for a subset of axis (and fixed for others)?"
source: https://github.com/googlei18n/noto-source/blob/master/src/NotoSansEthiopic-MM.glyphs

it has a fontmake AssertionError: ((5, [5, 5, 5, 5, 3, 3, 3, 3]), 'list', '.SubTable', 'Lookup', '[0]', 'list', '.Lookup', 'LookupList', '.LookupList', 'GPOS', '.table', 'table_G_P_O_S_')

Q1: what would I need to change in the sources to compile it?
Q2: if I cannot change the sources how could I generate

[2017-04-23 22:39] marekjez86 opened #298 "question: Is this a source or a fontmake issue?"
source: https://github.com/googlei18n/noto-source/blob/master/src/NotoSansMono-MM.glyphs

Is this a source or a fontmake issue? If source what should I advise the provider?

============= NotoSansMono-MM.glyphs ==============
INFO:fontmake.font_project:Building master UFOs and designspace from Glyphs source
INFO:glyphsLib:Parsing .glyphs file
INFO:glyphsLib:Casting parsed values
INFO:glyphsLib:Loa

[2017-04-23 22:44] marekjez86 opened #299 "question about NotoSerif-Italic: Is this a source or a fontmake issue?"
source: https://github.com/googlei18n/noto-source/blob/master/src/NotoSerif-ItalicMM.glyphs

Is the following stack trace a source or a fontmake issue? If source, what should I advise the provider?

============= NotoSerif-ItalicMM.glyphs ==============
INFO:fontmake.font_project:Building master UFOs and designspace from Glyphs source
INFO:glyphsLib:Parsing .glyphs file
INFO:glyphsLib:Casting pars

[2017-04-23 23:04] marekjez86 opened #300 "question about NotoSerif: Is this a source or a fontmake issue?"
source: https://github.com/googlei18n/noto-source/blob/master/src/NotoSerif-MM.glyphs

Is the following stack trace a source or a fontmake issue? If source, what should I advise the provider? Note that given values  [4, 4, 4, 4, 9, 9, 9, 9] it's possible that we could subset regular width only and condensed width only and allow variation on the weight axis only (see https://github.com/googlei18n/f

[2017-04-23 23:07] marekjez86 opened #301 "question about NotoSerifDisplay-Italic: Is this a source or a fontmake issue?"
source: https://github.com/googlei18n/noto-source/blob/master/src/NotoSerifDisplay-ItalicMM.glyphs

Is the following stack trace a source or a fontmake issue? If source, what should I advise the provider?

============= NotoSerifDisplay-ItalicMM.glyphs ==============
INFO:fontmake.font_project:Building master UFOs and designspace from Glyphs source
INFO:glyphsLib:Parsing .glyphs file
INFO:glyphsLi

[2017-04-23 23:10] marekjez86 opened #302 "question about NotoSerifDisplay: Is this a source or a fontmake issue?"
source: https://github.com/googlei18n/noto-source/blob/master/src/NotoSerifDisplay-MM.glyphs

Is the following stack trace a source or a fontmake issue? If source, what should I advise the provider?

============= NotoSerifDisplay-MM.glyphs ==============
INFO:fontmake.font_project:Building master UFOs and designspace from Glyphs source
INFO:glyphsLib:Parsing .glyphs file
INFO:glyphsLib:Casting pa

[2017-04-23 23:13] marekjez86 commented on #296
Note that there are 17 other sources impacted by the above issue (in addition to the above mentioned NotoSansCarian-MM.glyphs)

[2017-04-23 23:30] marekjez86 commented on #296
There are 5 more sources with have *.plist files that generate this error, for a total of 1+17+5=23 files with this problem.

[2017-04-23 23:33] marekjez86 opened #303 "error compiling NotoSerifMyanmar: "Base master not found; no master at default location?""
source: https://github.com/googlei18n/noto-source/tree/master/src/NotoSerifMyanmar

I'm not sure what to do about it... I haven't done anything with the master? is it something related to my environment?

============= src/NotoSerifMyanmar/NotoSerifMyanmar-MM.plist ==============
INFO:fontmake.font_project:Building master UFOs and designspace from Glyphs source
INFO:glyphsLib:Parsing .glyphs file

[2017-04-24 08:25] schriftgestalt commented on #297
I plan to add parameters to give better control over the variation font export. This exclusion of masters it a good point and will be considered.

[2017-04-24 08:57] anthrotype commented on #299
duplicate of #298

[2017-04-24 08:57] #299 closed

[2017-04-24 08:58] anthrotype commented on #300
duplicate of #298

[2017-04-24 08:58] #300 closed

[2017-04-24 08:58] anthrotype commented on #301
duplicate of #298

[2017-04-24 08:58] #301 closed

[2017-04-24 08:58] anthrotype commented on #302
duplicate of #298

[2017-04-24 08:58] #302 closed

[2017-04-24 09:07] anthrotype commented on #303
it's a glyphsLib+fonttools issue: https://github.com/googlei18n/glyphsLib/issues/170
It was introduced since glyphsLib 1.70, which added axes support, and fonttools 3.10.0, which added avar.

[2017-04-24 20:51] behdad commented on #295
[NotoSansHebrew-VF.ttf.zip](https://github.com/googlei18n/fontmake/files/953097/NotoSansHebrew-VF.ttf.zip)

[2017-04-24 21:08] behdad commented on #295
Ok this seems to be a CoreText issue.  I'll work with Apple to see if it's the same as what we reported to them before, or a separate issue.

When we have a full understanding, I might change varLib to avoid the bug.

[2017-04-25 14:38] marekjez86 opened #304 "fontmake should set correctly ulCodePageRange (currently not set)"
for more details please see https://github.com/googlei18n/noto-fonts/issues/902

values in sample fonts created by the fontmake

_NotoSans-Regular.ttx:    \<ulCodePageRange1 value="00000000 00000000 00000000 00000000"/>
NotoSans-Regular.ttx:    \<ulCodePageRange2 value="00000000 00000000 00000000 00000000"/>
NotoSerifThai-Thin.ttx:    \<ulCodePageRange1 value="00000000 00000000 00000000 00000000"/

[2017-04-25 14:56] anthrotype commented on #304
ufo2ft simply compiles whatever is in the source file; it does not auto-compute the ulUnicodeRange and ulCodePageRange values, because there is no agreement as to how these should be calculated. The OT spec is rather vague:

https://www.microsoft.com/typography/otspec/os2.htm

At DaMa, we set the unicode ranges bit on whenever there is *at least one character* that intersects a range; and we set t

[2017-04-25 15:04] anthrotype commented on #304
I guess the next question is, how does Glyphs.app decides when to set these flags?
The unicode-to-codepages mappings we can get find in the Python built-in `encodings` module. What I'm asking is which threshold value does Glyphs.app uses to decide when to automatically enable them (if a user did not explicitly define them with a custom parameter)?

 /cc @schriftgestalt

[2017-04-25 15:17] marekjez86 commented on #304
@anthrotype : "set the unicode ranges bit on whenever there is at least one character that intersects a range; and we set the codepage bit on when the coverage is >= 98 % of the characters defined in a code page." sounds reasonable to me. Where is it done? Is it done manually by the designer in the sources using glyphs.app? Could this be computed, for example, in ufo2ft according to the values men

[2017-04-25 15:24] anthrotype commented on #304
fonttools can already recalculate the unicode ranges bit using the "at-least-one" rule, but this is not currently used by ufo2ft:
https://github.com/fonttools/fonttools/blob/dc1a3bd/Lib/fontTools/ttLib/tables/O_S_2f_2.py#L284-L301

As for the codepages, as I said, we do have a script internally that takes the intersection between python's `encodings` tables and a font's Unicode cmap, and calculate

[2017-04-25 15:37] marekjez86 commented on #304
I'd like this automatic whenever a UFO does not already have user defined values for these bits using DaMa heuristic. Whenever, you could do it would be great (no rush).

[2017-04-25 15:47] marekjez86 commented on #304
@codeman38 : would you have time and skills to make the above described changes under @anthrotype 's guidance?  If you do, then this would guarantee that your request in https://github.com/googlei18n/noto-fonts/issues/902 is fulfilled :-)

[2017-04-26 07:31] schriftgestalt commented on #304
currently that is handled by makeOTF (if not set manually).

[2017-04-26 09:40] brawer commented on #296
Well, if there’s just one single design master, it’s not possible to build a variable font because there’s nothing to interpolate. fontmake should probably detect this user error, and fail with a clear error message. (Of course, the tool could also be changed to silently build a “variable” font that has no variation axes; but it seems not very wise to let a compiler silently build something else t

[2017-04-26 12:14] MrBrezina commented on #4
Reminds me a little bit of what we are trying to do with our tool MrHandy (not online yet) and what I suggested @davelab6 a while back. Here is a snippet to give you an idea. `$` calls a shell command once for the whole workflow, commands (e.g. in `init, cleanup, compile`) are references to Python modules, `$$` for each style while replacing `%f` with source path (defined in from). This is using A

[2017-04-26 12:15] MrBrezina commented on #4
Would be interesting to know whether this can have a place in the universe of your tools. (Sorry if I am slightly offtopicing.)

[2017-04-26 12:20] MrBrezina opened #305 "Autohinting CFF fonts"
Can you clarify (somewhere in the docs) whether fontmake autohints OTF/CFF fonts? There is a `--autohint` option which uses `ttfautohint`, that is only TTFs are hinted. Is it possible to get the OTF/CFF autohinted too or one needs to have AFDKO installed to get their `autohint` tool?

[2017-04-26 12:24] anthrotype commented on #305
Hey David!
Yes, PostScript autohinting is currently not supported in fontmake.
We are planning to have fontmake use the Python wrapper for the AFDKO autohinter that @khaledhosny is working on:
https://github.com/khaledhosny/psautohint
This will happen sometime soon.

[2017-04-26 12:24] MrBrezina commented on #305
👍 thanks

[2017-04-26 12:29] anthrotype commented on #4
Yes, everybody would love that, but it would take quite some re-thinking of the way fontmake is currently designed and implemented. We will work on it at some point, with your help if you like.
I'll look forward to seeing this MrHandy tool of yours published ;)

[2017-04-26 12:30] anthrotype commented on #305
let's keep it open to remind ourselves to implement that feature

[2017-04-26 12:32] MrBrezina opened #306 "A .designspace document is not accepted by AFDKO’s makeInstancesUFO"
A .designspace document generated from .glyphs source is refused by makeInstancesUFO as it does not include `postscriptfontname` attribute for each instance. Maybe new AFDKO does not have a problem with that, I have not tried that yet.

[2017-04-26 12:34] anthrotype commented on #306
This should be optional, at least according to https://github.com/LettError/designSpaceDocument

[2017-04-26 12:35] MrBrezina commented on #4
Yes, I think it is sensible to put MrH out there and see if fontmake can use some of the interface (or vice versa).

[2017-04-26 12:36] anthrotype commented on #306
glyphsLib >= 1.7.0 does support exporting an instance's `postscriptFontName` custom parameter to the .designspace:
https://github.com/googlei18n/glyphsLib/commit/4fade33cfccd5838f9e756f76ee71df040b95570

[2017-04-26 12:55] MrBrezina commented on #306
Are you saying this is fixed also for fontmake or that I can generate a good designspace using glyphsLib >= 1.7.0? (FYI, I am using the latest versions and fontmake is not adding `postscriptFontName` attribute.)

[2017-04-26 13:12] MrBrezina commented on #306
I guess, what I am trying to say is that I would expect fontmake to play nice with AFDKO in this respect. :) Or AFDKO to be more flexible.

[2017-04-26 13:12] anthrotype commented on #306
Yes, but only when you have a postscriptFontName custom parameter in your instances in the source glyphs file.

[2017-04-26 13:13] anthrotype commented on #306
The attribute is optional, and that AFDKO script should not rely on its presence, in my option.

[2017-04-26 13:13] brawer commented on #306
Agree — according to the designSpaceDocument spec, `postscriptfontname` is optional. If AFDKO does not work without it, this sounds like a clear bug in AFDKO. Mind reporting it to Adobe? Thanks.

[2017-04-26 13:14] MrBrezina commented on #306
Ah. I see and agree. Will do.

[2017-04-26 13:36] MrBrezina opened #307 "Issues with interpolation based on generated .designspace"
Here is a nice one! It could somehow be related to #264 but I don’t think so. We have a single-axis font with three masters, two in extremes, one in the middle. Fontmake .glyphs --> .ufo + .designspace works fine. If I then interpolate instances using the generated .designspace, bad things happen. More specifically, it seems that the y-direction is interpolated differently from the x-direction. AF

[2017-04-26 13:44] anthrotype commented on #307
hm. The axes map look wrong to me.
Could you try adding `weightClass` custom parameter to your instances in .glyphs?
E.g. 400 for Regular, 700 for Bold, etc., and see if that changes anything?

[2017-04-26 13:58] anthrotype commented on #307
The `weightClass` and `widthClass` instance custom parameters are used by `glyphsLib.interpolation.get_axes` function to define the user-space axes locations. When these are not present, glyphsLib currently defaults to the interpolation-space axes location. That explains why the input and output attributes in the map elements are the same value in the above example.

However, I believe glyphsLib i

[2017-04-26 14:02] marekjez86 commented on #296
I actually liked that it built me a font before. It indicated that this is a single width by naming it NotoSansCarian-Regular-VF.ttf

Now the process is:
- build all fonts
- see "assert axes" [the message should be better, more user friendly, e.g., "please re-run fontmake but remove the -o variable option for this source if you want to generate a font"]
- re-run fontmake for this source -o variabl

[2017-04-26 14:05] anthrotype commented on #296
As Sascha said, there's nothing to interpolate if the source only contains one master. If users asks for `-o variable`, we can't give them one so we should fail early, with a nice error message.

[2017-04-26 15:02] MrBrezina commented on #307
Ah. I see. I have never used the `<axes>` bit before, so I did not know what to expect there. Also, the outline interpolation works now as expected. Thanks.

[code]

[2017-04-26 15:08] anthrotype commented on #307
good. However, we need to change glyphsLib to do the right thing and not require to add the custom parameters unless they differ from the default values that Glyphs.app would assign to the instances, given their style name.

[2017-04-26 15:32] MrBrezina opened #308 "add command-line option to only interpolate some instances from designspace"
Is it possible to call fontmake to interpolate and output just one instance from a .designspace? E.g. like with MuMa, with instance’s order in the .designspace.

Also, does it make sense to remove overlaps, decompose composites etc. after interpolating an ufo instance, not only when generating otf/ttf? Sometimes, I would like to play with feature code and keep testing it (i.e. frequently compile u

[2017-04-26 15:41] anthrotype commented on #308
currently no. If you set that instance as "inactive" in the .glyphs source file, then the generated designspace will not contain the instance, and fontmake will not generate it.
If you use a designspace as input, then all the instances are generated.

not sure what you mean here.

Maybe.

you could maybe call `fonttools feaLib` with a TTF and features.fea as inputs.

[2017-04-26 15:58] MrBrezina commented on #308
Thanks.

Here:

Sorry, I meant `makeInstancesUFO`’s CLI:

[2017-04-26 16:04] anthrotype commented on #308
I see. Maybe we could overload the current `-i/--interpolate` option in fontmake to optionally take a comma-separated list of indexes (like in `makeInstanceUFO`), or even instance names.

[2017-04-26 16:24] anthrotype opened #309 "change the default cu2qu approximation error?"
fontmake currently uses the cu2qu default value for the cubic to quadratic conversion, i.e. a factor of 0.0025 of the EM square. Of course, we have an `-e` option to set a custom value, however I wonder if others also share my concern that the current default might be too relaxed and should/could be changed in order to get more accurate results on average, especially for casual users who might not

[2017-04-26 16:32] #306 closed

[2017-04-26 16:37] anthrotype commented on #307
I think this glyphsLib issue is somewhat related to this one:
https://github.com/googlei18n/glyphsLib/issues/139

[2017-04-26 17:27] brawer commented on #296
@marekjez86, do you know how come these alleged -MM fonts have just one single master? Don’t we plan to ship Noto (all of it) as a variable font?

[2017-04-26 18:44] marekjez86 commented on #296
@brawer : these were originally contracted out as a single master (Regular) fonts. we do not have funds to create Bold (or any other weight, width), so they'll remain as such unless someone else decides to add a different weight.

[2017-04-27 00:18] davelab6 commented on #296
I believe because they are used by such small language communities that
funding their expansion as Variable families was postponed or to be
crowdsourced.

[2017-04-27 06:45] miguelsousa commented on #305
@MrBrezina there are a couple other things that **fontmake** does not do as well as **makeotf** yet:
* CFF subroutinization
* GPOS optimization

The first item only matters when one builds OTFs, obviously, but the second applies to making TTFs as well as OTFs.

I've setup [OTF Making Benchmark](https://github.com/adobe-type-tools/otf-making-benchmark) to track the progress.

[2017-04-27 07:03] miguelsousa commented on #306
**makeotf** requires UFOs to have `postscriptFontName` set in order to build OTFs. But I agree that **makeInstancesUFO** should not enforce the presence of `postscriptfontname` in the designspace file in order to generate UFOs.

[2017-04-27 08:45] MrBrezina commented on #305
That’s good to know! Thanks @miguelsousa as always.

[2017-04-27 09:11] anthrotype commented on #305
About the two things mentioned by @miguelsousa, quoting from our conversation with @behdad:

1) for GPOS, makeotf generates multiple PairPos format=2 subtables to reduce size of the table, whereas fontmake (via fontTools.feaLib) doesn't.

2) fontmake already supports CFF subroutinization (via compreffor); however, the FontTools `T2CharStringPen` (originally from Tal Leming's ufo2fdk) doesn't have

[2017-04-27 22:05] behdad commented on #305
Of course, autohinting itself is also missing.  @khaledhosny

[2017-04-27 23:53] marekjez86 commented on #303
@anthrotype : this stops several of my builds right now

[2017-04-29 07:32] behdad commented on #295
Ok this seems to be a CoreText issue.  I'll work with Apple to see if it's the same as what we reported to them before, or a separate issue.

When we have a full understanding, I might change varLib to avoid the bug.

[2017-04-29 08:02] behdad opened #310 "Log version / hash of used libraries and sources in a table in output fonts"
This will be very useful for debugging.  Name the table to start with an underscore perhaps, to emphasize it's not needed for the font to perform.

To make things more robust, the table can also include the list of all other tables in the font with their checksums.  So we can detect if the font was modified after build...

Just dumping ideas for now.

[2017-04-29 12:45] adrientetar commented on #304
Back in 2014 there was consensus on at least one in: https://github.com/fonttools/fonttools/pull/181
I guess it would be interesting to know where makeotf puts the threshold; cc @miguelsousa

[2017-05-01 19:08] miguelsousa commented on #304
@readroberts will explain

[2017-05-02 21:28] readroberts commented on #304
In makeotfexe, the Unicode page bits are set in the function setOS_2Fields() in FDK/Tools/Programs/makeotf/makeotf_lib/source/hot_conv/map.c. The comment correctly describes the logic:
/* This is a hack. The numEssential field is set for each block in uniblock.h. It is currently
 the number of entries in the range from min UV to max UV of the block.
 This is already not right, as in most blocks, n

[2017-05-04 09:00] MrBrezina opened #312 "When compiling TTF from UFO with --use-afdko, mtiFeaFiles attribute is required"
Why would I need that in the UFO to do this?

Here is the log:

[code]

[2017-05-04 09:19] anthrotype commented on #312
It should not be required.
The attribute was added later to the base class in ufo2ft and the subclass in fontmake has not been updated to handle that.
We'll fix it, thanks.

[2017-05-04 12:36] #312 closed

[2017-05-04 12:38] anthrotype commented on #312
@MrBrezina can you please try to `git pull` from the latest upstream master, re-installing fontmake from there and see if that fixes it?

[2017-05-04 13:08] MrBrezina commented on #312
This is probably on me, but how do I specify the FontMenuDB for fontmake? I know how to do it for AFDKO.

[code]

[2017-05-04 15:47] anthrotype commented on #312
There is no such a thing for fontmake... If you want to have control on how the name table is built, you have to define your names in the UFO fontinfo.plist
http://unifiedfontobject.org/versions/ufo3/fontinfo.plist/

The `--use-afdko` option was added only to make it easier to compare feaLib vs makeotf as far as the compilation of features.fea into binary GPOS/GSUB/GDEF. It was useful at the begin

[2017-05-04 15:51] anthrotype commented on #312
so you can ignore that warning about missing FontMenuDB because it's not needed anyway.
The reason the compilation is failing is

[code]

[2017-05-04 16:18] MrBrezina commented on #312
ok, thanks, the warning confused me.

Re getting binary GPOS/GSUB/GDEF: yes, that’s what I thought. Based on what @miguelsousa says in #305 it makes sense to use makeotf/AFDKO as it will compile a smaller GPOS table.

[2017-05-04 16:24] MrBrezina commented on #312
Also, the syntax error is odd as makeotf from command line can compile the UFO just fine. How can I investigate what’s wrong (e.g. open `tmpvXdZ4W`)

[2017-05-04 16:32] anthrotype commented on #312
try to comment out the line `os.remove(fea_path)` which removes the temporary file and see what it is there at line 5192.
I suspect it might be one of the features automatically generated by ufo2ft (kern, mark or mkmk).

[2017-05-04 16:33] anthrotype commented on #312
this line
https://github.com/googlei18n/fontmake/blob/c7bbdff/Lib/fontmake/font_project.py#L604

[2017-05-04 19:44] anthrotype commented on #303
@marekjez86 can you try rebuilding with the latest fontmake v.1.2.4
https://github.com/googlei18n/noto-source/pull/76

I just tried building NotoSansMyanmar-VF.ttf with
[code]

and it worked.

[2017-05-04 19:45] anthrotype commented on #303
Oh, it's the Serif sorry.. let me try that one.

[2017-05-04 20:23] anthrotype commented on #303
ok, it's still failing..
I think I've found where the issue is in glyphsLib.. I'll fix it tomorrow.

[2017-05-04 21:22] marekjez86 commented on #303
@anthrotype : Thank you.

[2017-05-05 11:26] anthrotype commented on #303
@marekjez86 if you add the new "Variation Font Origin" custom parameter to the NotoSerifMyanmar-MM.glyphs font (introduced since Glyphs 2.4.1), and set its value to "Light", then you should be able to build the variable font with the latest fontmake 1.2.5 (with [glyphsLib 1.7.3](https://github.com/googlei18n/glyphsLib/releases/tag/v1.7.3)).

<img width="295" alt="screenshot 2017-05-05 11 55 11" sr

[2017-05-05 11:38] anthrotype commented on #303
Related issue https://github.com/googlei18n/glyphsLib/issues/139

[2017-05-05 12:12] MrBrezina commented on #312
I think it is this empty `mkmk` feature:
[code]

[2017-05-05 12:24] anthrotype commented on #312
Oh ok.. yes, I once also hit that but then forgot to fix it. It's a ufo2ft issue in the markFeatuerWriter. FeaLib does not complain with empty features blocks, just skips them, whereas makeotf is more picky about them. I can fix that.

[2017-05-05 14:17] anthrotype commented on #312
@MrBrezina ok, I fixed the empty mkmk block with https://github.com/googlei18n/ufo2ft/pull/130
Try to `pip install --upgrade ufo2ft` to get the latest version (v0.5.1) and let me know if that fixes it for you, thanks.

[2017-05-05 15:12] marekjez86 commented on #303
@anthrotype : thank you very much; i'll rebuild my tools and the fonts (after the mod). thanks again

[2017-05-05 16:11] marekjez86 commented on #303
verified as fixed.
how would I know as a end-user of fontmake to do it? is there anything I could place in fontmake FAQ?

[2017-05-05 16:11] #303 closed

[2017-05-05 16:58] MrBrezina commented on #312
@anthrotype works, thanks!

[2017-05-05 18:00] marekjez86 opened #314 "fontmake.font_project appears to drop regular (which is OK), italic (which is bad) from the VF file names"
This is just a gut feeling based on my observations of the results (I'll investigate more). It looks to me that fontmake appears to drop regular, italic (possibly others) from the VF file names. This is correct for regular, but it will cause problems for our Italic font versions.

Why?
Here are our source names:
![sans-glyphs](https://cloud.githubusercontent.com/assets/13322623/25757967/8911e7c8-3

[2017-05-05 18:15] marekjez86 commented on #314
I checked NotoSansDisplay-VF.ttf and NotoSans-VF.ttf. They are what they need to be. I need to check why NotoSansDisplay-Italic-VF.ttf and NotoSans-Italic-VF.ttf weren't built.

[2017-05-05 18:37] marekjez86 commented on #314
Mystery solved. It looks like a new behaviour of fontmake.font_project. It looks that NotoSansDisplay-Italic-VF.ttf and NotoSans-Italic-VF.ttf were built first in my pipeline. Here's the log for NotoSansDisplay-Italic-VF.ttf.

![fontmake-italic-issue](https://cloud.githubusercontent.com/assets/13322623/25759352/f8ac724c-3186-11e7-8a2e-68c033a7eb0c.jpeg)

Note "**_Building variable font variable_tt

[2017-05-05 18:49] anthrotype commented on #314
Ouch. It should be an easy one, thanks for spotting.

[2017-05-06 11:15] anthrotype commented on #314
Looks like a regression introduced with glyphsLib v1.7.2 from this commit:
https://github.com/googlei18n/glyphsLib/commit/6fcf3b1e4763b2f76b74c5028af9476b1f9fe0e4#diff-e9fd83f9aff129b278b8852b38f72414R89

The designspace file determines the filename of the fontmake-generated VF.ttf. Previously, glyphsLib was saving it with the `base_family` and `base_style`, after that only with `base_family`.

[2017-05-08 18:44] marekjez86 opened #316 "fontmake does not assign a value in the GDEF/GlyphClassDef table for combining marks"
using https://github.com/googlei18n/noto-source/blob/master/src/NotoSansNKo-MM.glyphs as an input to the fontmake.

running the following command to create the otf font
_fontmake  -i -g src/NotoSansNKo-MM.glyphs -o otf_

using the output of the fontmake as the input to noto_lint.py

noto_lint.py instance_otf/NotoSansNKo-Regular.otf
produces the following warnings which are NOT there when I create

[2017-05-11 19:06] anthrotype commented on #314
I'm thinking that glyphsLib could default to use the same base name as the glyphs source file for the name of the generated `*.designspace` file, and hence for the name of the variable font.

E.g. `NotoSans-ItalicMM.glyphs` will produce `master_ufo/NotoSans-ItalicMM.designspace`, and `variable_ttf/NotoSans-ItalicMM-VF.ttf`.

I have a patch locally, I'll clean up and push sometime tomorrow or next

[2017-05-12 00:29] khaledhosny opened #317 "ValueError: The width should not be negative: 'fraction'"
Trying to process `Cairo.glyphs` file from https://github.com/Gue3bara/Cairo with interpolation causes the following error:
[code]

[2017-05-19 11:33] MrBrezina opened #319 "Fontmake assumes there is no mark feature in UFO’s features.fea"
When fontmaking TTF from UFO instances, I get the following report. I think it is because fontmake simply adds mark feature to the other features and does not check if mark feature is already there.

[code]

[2017-05-19 12:48] anthrotype commented on #319
The problem is in ufo2ft MarkFeatureWriter, which writes not only mark but also mkmk features, based on the presence of anchors in the UFO, and also based on whether the features are not already there in the features.fea or any included files.

I think you have generated your own mark feature with other tools, but did not also add a mkmk feature, which is fine. Now, the MarkFeatureWriter sees you

[2017-05-19 13:09] anthrotype commented on #319
Actually the problem arises also if one does not have any mark-to-mark anchors in the font; it is enough to just have one mark (or mkmk) feature already defined; the markFeatureWriter will then attempt to create the other missing feature; but the problem is it will unconditionally write its own conflicting markClass definitions, even if at the end the feature block itself turns out to be empty and

[2017-05-19 13:14] moyogo commented on #317
'fraction' has width=0 in fontmaster Regular (weight=400) and width=10 in fontmaster Bold (weight=700). Extrapolating instances ExtraLight (weight=250) and Light (weight=300) will produce negative width. Glyphsapp zeroes out interpolated negative widths, ufo2ft doesn’t and raises ValueError.

ufo2ft could zero out negative widths and warn instead of raising ValueError.
The reason why we raise is b

[2017-05-19 13:27] MrBrezina commented on #319
Ha, funnily, I used ufo2ft to generate mark and mkmk so I could use it for makeotf, but it correctly did not write any mkmk because there were no anchors for that. Bit silly that it does not consider its own output as “complete”. Adding a few anchors to have some mkmk fixed it. Thanks.

[2017-05-19 16:13] khaledhosny commented on #319
I think a more robust fix is for the feature writer to check the existing mark classes and make sure the new ones are unique. `ufo2ft` already parses the features using `feaLib` so it is shouldn’t add too much overhead to do such checks.

[2017-05-24 11:42] anthrotype commented on #319
You're right, but we can do that later. The current functionality of trying to write mark and mkmk independently from each other is broken anyway, so we may well just accept the fact that the current MarkFeatureWriter can either write both mark+mkmk or none if any of the two is already present.

[2017-05-24 12:33] #319 closed

[2017-05-24 20:43] behdad commented on #275
@anthrotype what's the status of this?

[2017-05-25 14:02] anthrotype commented on #275
@behdad Sorry, I was sidetracked by other stuff. I'm now working on a patch based on Bo's pull request. I'll focus on implementing the built-in Transformations filter first; maybe later we can work on an extensible plugin interface.

[2017-05-25 20:36] behdad commented on #275
Hey no worries.  Was just cleaning up my tabs.

[2017-05-28 16:13] khaledhosny commented on #250
I had the original issue with a different font:
[code]

After few hours of debugging turns out my masters had different glyph orders, so the glyph coverage were sorted differently across masters but varLib is assuming there one glyph order for all masters. I think fontmake should make sure the glyph order is identical when building interpolatable masters, or may be varLib should warn error on that

[2017-06-01 15:02] behdad commented on #258
@anthrotype what needs to be done here?

[2017-06-01 15:02] anthrotype commented on #258
from https://github.com/googlei18n/fontmake/issues/258#issuecomment-285169404

feaLib doesn't do this yet. E.g. it won't generate an empty GSUB if there's only GPOS kern.
Let's keep this open as a reminder until that is done.

[2017-06-04 11:28] anthrotype commented on #309
since version [1.2.6](https://github.com/googlei18n/fontmake/releases/tag/v1.2.6) (commit cbb2642f1ca7f47219aa2f31ef48de4a5aed07b7), fontmake requires [cu2qu >= 1.2.0](https://github.com/googlei18n/cu2qu/releases/tag/v1.2.0), which uses 0.001 as default approximation error for cubic to quadratic conversion.

To keep using the previous value, one can pass the option `-e 0.0025`.

[2017-06-04 11:28] #309 closed

[2017-06-04 11:31] #9 closed

[2017-06-07 18:44] marekjez86 commented on #265
@brawer @anthrotype : Cosimo, what would it take to have this corrected (and whom should I ask to fix it)? this is a prerequisite to support Mon (and Sgaw Karen).

[2017-06-08 21:14] jungshik commented on #265
What problem do you have in mind?  I don't think this can cause any of Roboto's problem that I know of.

This issue is about not including non-default language in GPOS/GSUB (KSW, MON).

BTW, Myanmar scripts can be used to write more than KSW, MON and Burmese. Do they also need lang-specific shaping rules?

[2017-06-10 01:15] punchcutter commented on #265
This appears to be happening in `fonttools/subset/__init__.py` in `remove_redundant_langsys()`. For the Myanmar the GPOS feature list is identical for default, KSW, and MON. So KSW and MON are removed as being redundant. The GSUB feature lists have differences which is why they don't get wiped out.

[2017-06-16 23:07] robmck-ms opened #324 "Fontmake uses instance coordinates, not master coordinates for defining design space"
It appears that when fontmake generates the .designspace file, it uses the min/max coordinates of instances, not of masters, to define the axis bounds. This means that if I don't happen to place an instance at the extreme of a range, fontmake will truncate the range.

For example, I have a 2 axis font, with weight min/def/max of 300/400/700, and a width of 75/100/100, with instances at the axes ex

[2017-06-16 23:09] robmck-ms commented on #324
Forgot to mention: this is all from Glyphs source files.

[2017-06-18 07:40] madig opened #325 "User-friendly error diagnostics"
I tried inputting a .glyphs file I'm working on and got this error:
[code]
I now know that I have to look into my semibold, but have no idea which glyph is the culprit. It would be great if fontmake would report this.

[2017-06-23 20:31] madig opened #327 "Implement multithreading akin to `gmake -j 5`?"
I tried to build the Spectral font by myself and it took more than a minute on my i5-2500 to finish. It would be nice if fontmake would would do more things in parallel, since the working files of each stage (generate, remove overlaps, ...) don't depend on each other.

[2017-06-23 21:12] punchcutter commented on #316
This is because in glyphsLib/glyphdata.py `_get_unicode_category()` is using `unicodedata.ucd_3_2_0.category()` which doesn't have N'Ko. If we change this to unicodedata.category() then it will work, but there was a reason to stick with ucd_3_2_0 as @brawer wrote here: https://github.com/googlei18n/glyphsLib/issues/88

The other way to get around it is to hard code this info in the Glyphs file. Th

[2017-06-25 03:34] behdad commented on #250
One day we would allow different glyphsets.  For now, the assert is there to make sure we don't silently drop glyphs or fail later on even more cryptically.  Not an issue right now.

[2017-06-25 03:34] #250 closed

[2017-07-08 02:21] marekjez86 opened #330 "noto_lint.py reports: no GPOS and GSUB tables in a font"
I built NotoSansAnatolianHieroglyphs-Regular.*tf fonts (see https://github.com/googlei18n/noto-fonts-alpha/blob/master/from-pipeline/unhinted/otf/sans/NotoSansAnatolianHieroglyphs-Regular.otf and https://github.com/googlei18n/noto-fonts-alpha/blob/master/from-pipeline/unhinted/ttf/sans/NotoSansAnatolianHieroglyphs-Regular.ttf ) from https://github.com/googlei18n/noto-source/blob/master/src/NotoSan

[2017-07-08 02:45] punchcutter commented on #330
This is a source issue because there is no GPOS or GSUB in the source. According to the Unicode proposal there should be at least one mark (145B1) which should attach (GPOS) and possibly change shape in context (GSUB), but currently it does neither.

[2017-07-13 06:41] behdad commented on #265
Correct.

[2017-07-13 06:41] #265 closed

[2017-07-15 20:58] madig opened #332 "Ubuntu font: making fails"
1. Clone https://github.com/daltonmaag/ubuntu
2. `fontmake -u source/Ubuntu-R.ufo/`
[code]

Using `fontmake --keep-overlaps --no-production-names --keep-direction -o ttf -u source/Ubuntu-R.ufo/` works, but what causes the failure in the default configuration?

[2017-07-15 23:28] anthrotype commented on #332
it's a known limitation of booleanOperations, which can't remove overlaps from UFO with quadratic contours. You need to use the `--keep-overlaps` option to skip booleanOperations.

[2017-07-16 11:35] madig commented on #332
It would be nice to catch this and display an understandable error message, best with a reminder to `--keep-overlaps` :)

[2017-07-19 01:08] behdad commented on #310
This will become very handy...

[2017-07-23 10:25] madig opened #333 "Missing option to change the output directory"
Would help with e.g. the meson build system that expects things to be generated in the same directory as the source file.

It should probably only change the output directory of the user-requested output. So if you have a multiple master .glyphs file and the user specifies `-o otf`, intermediary steps can litter whatever directory they want, but the final font binaries should be put into the direc

[2017-07-23 13:07] madig opened #334 "Detect input file type automatically"
It strikes me as redundant to specify `-u`, `-g` or `-m` as the source type can be inferred from the file name suffix.

[2017-07-23 20:08] behdad commented on #253
Agree with not adding options for everything...

So, it occurs to me that if we fix ttfautohint to only hint composites if any component has a non-translation transform, then it's good to never decompose components.  Georg, do you agree?  We should get this on Werner's radar.

[2017-07-23 20:43] schriftgestalt commented on #253
I agree. If ttfautohint would work like this, I could not decompose components if autohinting is applied. But adding an parameter would be a good idea, too.

[2017-07-23 20:53] schriftgestalt commented on #253
Added `Keep Transformed Components` (like the existing `Keep Overlapping Components`).

[2017-07-23 21:37] madig commented on #305
`psautohint` works for me (Python 3). Is it mature enough for using it in fontmake?

[2017-07-24 16:19] anthrotype commented on #22
@behdad @marekjez86 @xiangyexiao is this still an issue?

[2017-07-24 16:28] anthrotype commented on #24
I believe this has to do with this ufo2ft issue https://github.com/googlei18n/ufo2ft/issues/106 which should be fixed now. Please reopen if this is not the case.

[2017-07-24 16:28] #24 closed

[2017-07-24 16:45] marekjez86 commented on #22
@anthrotype : still appears to be an issue with the most recent sources (and fonts compiled with them)

![saneth-reg](https://user-images.githubusercontent.com/13322623/28534221-ca9696be-7054-11e7-9755-e6c027786f3e.jpeg)

[2017-07-24 16:49] marekjez86 commented on #22
about PDF that Xiangye provided.
No problems on my Mac with viewing it with Chrome, Preview, Acrobat Reader and Acrobat.
Unable to reproduce the behavior reported by Xiangye on my Mac.

[2017-07-24 16:59] marekjez86 commented on #24
Verified as fixed

[2017-07-24 17:01] marekjez86 commented on #24
@anthrotype : there's nothing to do; I just assigned it to you to give you credit for the investigation (in the future if you do any work please add yourself to assignees :-))

[2017-07-24 17:12] anthrotype commented on #22
Like behdad said:

we should verify that this isn't a source issue. That is, open glyphs source file, find that composite glyph, check that the contours of those two components have the correct winding direction, which should be counter-clockwise for PostScript outlines.

[2017-07-24 17:14] anthrotype commented on #22
If either components has been flipped than it's path direction would be reversed; however, in these cases fontmake already decomposes composite glyphs if any of the components have any transform applied (besides simple translation).

[2017-07-24 17:19] anthrotype commented on #22
oh and since you are at it, mind adding

[code]

to `setup.cfg` as well?
Since file is a pure python package that works with both py2.py3, this will make it so a single wheel package is generated and can be installed on either major python versions.

[2017-07-24 17:21] anthrotype commented on #22
ops this is the wrong thread, sorry :grimacing:

[2017-07-24 17:31] anthrotype commented on #138
@marekjez86 can this be closed?

[2017-07-24 17:35] anthrotype commented on #45
@marekjez86 is this a fontmake issue, or just a font issue (i.e. source data not matching expectation of the linting tool)?

[2017-07-24 17:42] marekjez86 opened #335 "Errors calculating X glyphs is this a problem? ... if yes where?"
from the log building static fonts from https://github.com/googlei18n/noto-source/tree/master/src/NotoNastaliqUrdu

_.....
INFO:fontmake.font_project:Building master UFOs and designspace from Glyphs source
INFO:glyphsLib:Parsing .glyphs file
INFO:glyphsLib:Casting parsed values
INFO:glyphsLib:Loading to UFOs
INFO:glyphsLib.util:Writing master_ufo/NotoNastaliqUrdu-Regular.ufo
INFO:glyphsLib.util:Wr

[2017-07-24 17:44] marekjez86 opened #336 "fontmake shouldn't interpolate instances whose location matches masters"
from the log building variable fonts from https://github.com/googlei18n/noto-source/tree/master/src/NotoNastaliqUrdu

_
============= src/NotoNastaliqUrdu/NotoNastaliqUrdu-MM.plist ==============
INFO:fontmake.font_project:Building master UFOs and designspace from Glyphs source
INFO:glyphsLib:Parsing .glyphs file
INFO:glyphsLib:Casting parsed values
INFO:glyphsLib:Loading to UFOs
INFO:glyphsLib.ut

[2017-07-24 17:46] anthrotype commented on #88
@behdad how would you resolve such incompatibilities?

[2017-07-24 17:48] anthrotype commented on #114
hm, what's the point of having a master in there if it doesn't affect interpolation?

[2017-07-24 17:54] anthrotype commented on #336
source error, I'd say. The error is raised by cu2qu when converting masters "compatibly", when a glyph's contours are either different lengths (number of segments for each contour is different), or any of segments have different types (lines vs curve).

[2017-07-24 17:58] anthrotype commented on #335
That is mutatormath's way of saying that something went wrong while interpolating those glyphs.
I'd recommend having a look at the sources and ensure the glyphs are compatible for all the masters, i.e. the order of contours, the length (number of segments) of each contour, and the sequence of segment types for each contour matches across all masters.

[2017-07-24 18:01] #138 closed

[2017-07-24 18:23] punchcutter commented on #336
The Nastaliq Regular and Bold are not master compatible. They weren't intended to be. As far as I know this was the single exception in Noto due to the design and the fact that Nastaliq style doesn't lend itself very well to a bunch of different weights. Perhaps Regular and Bold shouldn't be in the same Glyphs file in this case, but it is kind of nice to have them in a single file. There could be

[2017-07-24 18:31] anthrotype commented on #336
I see.

I think for cases like these fontmake (or whomever down the pipeline is responsible for that, e.g. glyphsLib, mutatormath, etc.) should not try to interpolate instances whose location in the design space matches exactly one of the masters', but should simply use the master's outlines plus the rest of the instance data (e.g. the custom parameters) to build the final OTF.

Maybe mutatorMath

[2017-07-24 18:43] anthrotype commented on #336
needless to say, if the masters are not compatible one cannot expect fontmake to produce a variable font. In the case of Noto Nastaliq Urdu the build script that calls fontmake should be changed so that it doesn't ask fontmake to also output a variable font, but only two non-variable Regular and Bold instances.

[2017-07-24 19:01] #161 closed

[2017-07-24 19:05] #174 closed

[2017-07-24 22:02] miguelsousa commented on #88
I'd like to hear the answer as well. In our [Source Code](https://github.com/adobe-fonts/source-code-pro) family the intermediate master (SourceCodePro_1.ufo) has a subset of the glyphset.

[2017-07-24 23:26] robmck-ms opened #337 "fontmake ignores --family-name when generating designspace file from Glyphs source"
When generating a designspace file from Glyphs source, fontmake always uses the family name from within the Glyphs file. It ignores if you use --family-name on the commandline. It'd be nice to have it use the same family name so as to be able to control the filename of the designspace file.

Or (maybe better still), a separate commandline parameter for the name of the designspace file.

My use-cas

[2017-07-25 03:23] jamesgk commented on #22
FYI, this was an issue with a flipped component not being decomposed.
So if what you describe is true this shouldn't be an issue anymore.

[2017-07-25 18:50] anthrotype commented on #22
@jamesgk Hey James, thanks. We miss you a lot! 😄

I checked NotoSansEthiopic and indeed the generated TTFs have a that composite glyph comprising a flipped component (thus with wrong contour direction), so if the expectation was that fontmake would "decompose" composite glyphs containing transformed components then that is not the case here.

Oh now I see what's going on. The `decompose_glyphs` me

[2017-07-26 00:13] behdad commented on #22
So, this is in fact ambiguity in the OT spec.  We discussed it and I asked @twardoch to create a test font so we can test different rasterizers' behavior regarding composite glyphs and reversing transforms.

One thing is for sure: decomposing those glyphs should be done much more carefully...

[2017-07-26 00:45] behdad commented on #295
I haven't got to report this to Apple yet. Can anyone try with latest beta version of OS X and report whether it has been fixed already?  I have a hunch that it is.

cc @nedley

[2017-07-26 12:56] anthrotype commented on #253
There is another reason, besides hinting, why one would want to decompose transformed components, which is the issue reported in https://github.com/googlei18n/fontmake/issues/22, namely the fact that different rasterizers behave differently as regards composite glyphs and transforms that reverse the winding direction, which manifest itself when components overlap with each other.

The consesus ove

[2017-07-26 18:39] anthrotype commented on #310
duplicate of #251

[2017-07-26 18:39] #310 closed

[2017-07-26 18:41] anthrotype commented on #251
in the other duplicate #310 thread, @behdad also suggested

[2017-07-27 02:35] simoncozens commented on #114
In my case, one of the masters was an open-path skeleton, which the other masters were derived from with offsetting filters. (Before I then made all the necessary optical corrections, naturally.) That was throwing things.

Also my bold master is very different to the semibold and there's no interpolation between the two.

[2017-07-27 08:45] behdad commented on #114
One way would be to ask @schriftgestalt to add a property to disable masters from participating in interpolation.  Not sure how much sense that makes.

[2017-07-27 08:51] anthrotype commented on #114
Could it be implicit? if there are no instances "in between" two masters, or if the instance location is the same as a master, then no interpolation should take place.

[2017-07-27 08:58] behdad commented on #114
Glyphs already has such implicit assumptions (not showing master incompatibility if there's no instance defined between two masters?) and that's already problematic for varfont workflow, which does not require named instances to be defined.

[2017-07-27 09:03] behdad commented on #253
Not so fast!  First, we have not verified yet that rasterizers have different behaviors in this case.
Second, even when decomposing, the overlap causes a problem, so, we might need to flip contour direction during decomposition for mirrored contours, but that will screw up point numbers, if we care about those ever.

Not quite sure yet.  We first need to gather data points re different rasterizer

[2017-07-27 09:16] schriftgestalt commented on #114
There is an parameter 'Ignore Master' already.
I see the problem with not showing the incompatiblility for variation fonts. I'll fix this.

[2017-07-27 09:18] anthrotype commented on #114
Thanks Georg! Yeah, I think we could use that custom parameter in fontmake as well...

[2017-07-27 18:03] schriftgestalt commented on #114
I would treat an `Axes` parameter as key.

[2017-07-29 06:18] lemzwerg commented on #253
In general I don't think that this suggestion will work satisfactorily with ttfautohint.  The idea of using the components' hints only by default is based on the 'base glyph plus diacritics' model where the components don't interact with the base glyph of the composite.  In particular, you get only satisfactory results if the `ROUND_XY_TO_GRID` composite flag is set – if you are going to transform

[2017-07-29 07:18] anthrotype commented on #253
Note that fontmake (specifically ufo2ft outlineCompiler via fonttools TTGlyphPen) currently always sets the ROUND_XY_TO_GRID flag; and that there is no (public) way in UFO to specify which glyf flags to enable for each components.

[2017-07-30 08:15] madig opened #338 "Messed up weight declarations when compiling .glyphs file"
The weight name and weight declaration in the OS/2 header differ when compiled by Glyphs (really the AFDKO?) and fontmake. This completely confuses fontconfig.

1. Load [Cantarell.zip](https://github.com/googlei18n/fontmake/files/1185527/Cantarell.zip)
2. Compile in Glyphs and then with `fontmake -g Canturell.glyphs -i -o otf`

Glyphs (file, weight name, weight declaration in OS/2 header):
thin: T

[2017-07-30 09:37] anthrotype commented on #338
@madig thanks for the report.
Yes, this is a know incosistency between fontmake (actually glyphsLib) and Glyphs.app

https://github.com/googlei18n/glyphsLib/issues/139#issuecomment-297962171
https://github.com/googlei18n/fontmake/issues/307#issuecomment-297439423

For the time being, to make them agree with each other, you need to explicitly set a `weightClass` custom parameter for each instance,

[2017-07-31 16:11] #314 closed

[2017-07-31 16:11] #337 closed

[2017-08-02 14:26] anthrotype commented on #295
This rendering issue in CoreText seems to occur only when the avar table has empty segment maps, i.e. with zero axis value maps.

It looks like CoreText requires that the three default value maps (-1 to -1, 0 to 0, and 1 to 1) be present for all the segment maps, even when the default normalization mapping for an axis was not modified.

I pushed https://github.com/fonttools/fonttools/commit/19c4b3

[2017-08-03 11:01] behdad commented on #295
cc @nedley

[2017-08-03 23:07] dougfelt commented on #209
Generated SemiBold and ExtraBold fonts seem to have bad names, at least based on the fonts in noto-fonts-alpha...ttf.

For example, NotoSansTamilUI-SemiCondensedExtraBold.ttf has the name "NotoSans Tamil UI SemiCondensed Extra".  The "Bold" is missing.

The correct names are in the .glyphs source, so at least when these fonts were generated the tooling seems to have been substituting its own incor

[2017-08-03 23:10] marekjez86 commented on #209
This priority of this bug is up because we want to release the fonts. @behdad is on this bug so he can decide how priority for this fits with others @anthrotype tasks

[2017-08-03 23:14] marekjez86 commented on #275
@anthrotype @behdad another bug (feature requests) that causes that we cannot release Tamil UI

[2017-08-04 15:46] anthrotype commented on #209
Right. It seems to be glyphsLib not correctly setting the `styleMapFamilyName` fontinfo.plist attribute in the generated instance UFOs. I've opened a separate issue for that here https://github.com/googlei18n/glyphsLib/issues/200

As regards the issue of shortened names, I agree with @dougfelt that

[2017-08-05 12:55] marekjez86 opened #339 "My build problem or fontmake? "AssertionError: Base master not found" compiling variable https://github.com/googlei18n/noto-source/blob/master/src/NotoSansArabic-MM.glyphs"
I rebuilt the fontmake, but now I get the following when compiling variable font from https://github.com/googlei18n/noto-source/blob/master/src/NotoSansArabic-MM.glyphs (and all other sources where there are multiple weights; fonts with a single weight, for example https://github.com/googlei18n/noto-source/blob/master/src/NotoSansCuneiform-MM.glyphs , compile fine). Is this my build problem or fon

[2017-08-05 13:08] marekjez86 opened #340 "My build problem or fontmake? "TypeError: compile() takes exactly 1 argument (2 given)" compiling static https://github.com/googlei18n/noto-source/blob/master/src/NotoSansArabic-MM.glyphs"
compiling static (i.e. non-variable) fonts from https://github.com/googlei18n/noto-source/blob/master/src/NotoSansArabic-MM.glyphs
.... and all other ones generate the same error

Did I mess up build process on my linux box?

INFO:fontmake.font_project:Saving OTF for NotoSansArabic-Thin
Traceback (most recent call last):
  File "/usr/local/bin/fontmake", line 9, in <module>
    load_entry_point('f

[2017-08-05 13:36] anthrotype commented on #339
It's probably a setup issue on your side because it worked for me.
I pulled the latest noto-source and run `./build variable src/NotoSansArabic-MM.glyphs` and it compiled successfully.
How did you install fontmake?

[2017-08-05 14:28] anthrotype commented on #340
running `./build src/NotoSansArabic-MM.glyphs` from latest noto-source repo worked for me.
How did you install fontmake? What is the output of `pip list`?

[2017-08-05 21:29] marekjez86 commented on #340
appears to be a build error on my linux (my mac is fine)

[2017-08-05 21:29] #340 closed

[2017-08-05 21:30] marekjez86 commented on #339
appears to be a build error on my linux (my mac is fine)

[2017-08-05 21:30] #339 closed

[2017-08-07 23:53] marekjez86 commented on #209
re: short names, is this a new property per instance (what should be the
name of this property) or something else? Could you give me the example for
the Noto Sans Tamil, SemiCondensed Thin instance above?

On Fri, Aug 4, 2017 at 8:46 AM, Cosimo Lupo <notifications@github.com>
wrote:

--

Marek Z Jeziorek [ 老马 ] | marekj@google.com | 312 725-6958

[2017-08-08 12:19] anthrotype commented on #209
@marekjez86 You should set the `styleMapFamilyName` custom parameter on the instances that you wish to define a custom nameID=1 or family name (it will be used on legacy apps that only support the four regular-bold-italic-bolditalic style names).

Basically, the lint tool is checking that the family name (nameID=1) does not exceed 31 characters length for all the fonts in the family.

For the phas

[2017-08-08 13:02] anthrotype commented on #209
An alternative way that should achieve the same result would be to set `preferredSubfamilyName` custom parameter to the long version (e.g. "ExtraBold"), and change the "Style Name" to be the short version (e.g. "ExBd"). Whichever you prefer.

Note that for some reasons which i'm investigating none of the above mentioned approaches seem to work with the current fontmake (it's probably something in

[2017-08-08 16:33] dougfelt commented on #209
@marekjez86 , I can write a tool to swat the source files to match the lint expectations for the original family name.  Once the pipeline passes this data through properly I think it should just work.

Hopefully very few programs will show the original names if there are preferred names available.  We do arrange things so that all members of a family use the same original names instead of just abb

[2017-08-08 16:43] dougfelt commented on #209
@anthrotype if the two approaches to passing the names are entirely equivalent I'll probably prefer to set the styleMapFamilyName parameter to the abbreviated version and leave the (style) name as the full-length version.

[2017-08-08 16:44] anthrotype commented on #209
@dougfelt agreed

[2017-08-08 17:07] marekjez86 commented on #209
@dougfelt : I'd like a tool/script to set the correct values

[2017-08-08 17:48] punchcutter commented on #330
Looking at the Unicode proposal it appeared that one character should be a combining mark (145B1), but that was not accepted in the final implementation so there are no combining marks in Anatolian Hieroglyphs which means no GPOS is needed there. There are also 8 characters in the Unicode charts that show an informative note that they can be created by combining another character with 145B1 (propo

[2017-08-08 17:55] marekjez86 commented on #330
@punchcutter : thank you for the research.
@dougfelt : please see the last paragraph. Do we need a new issue in nototools (and I'll close this one) or could we use this issue and handle the noto_lint?

[2017-08-08 18:13] dougfelt commented on #330
I'll just use this one.

[2017-08-09 12:24] anthrotype commented on #209
About the presence/absence of "Regular" in the full name (id 4), @dougfelt wrote in March early this year:

Actually, for Phase 3 Noto, it's seems the opposite is true: i.e. the 'Regular' is expected to be omitted from the full name of most Noto Fonts --  except for the CJK fonts which have the `include_regular="t"` flag in the `family_name_info_p3.xml` used by the noto linter, so they are expecte

[2017-08-09 17:20] dougfelt commented on #209
@anthrotype yes, that seems to be how it reads now.  Since an empty name id 16 falls back to name id 2 and it would be 'Regular' in this case, one might assume the intention is that 'Regular' would appear in the full name.

[2017-08-09 17:29] anthrotype commented on #209
@dougfelt I'm not sure I understand what you mean, sorry...

name id _17_ (preferred subfamily) falls back to name id _2_ (subfamily); name id _16_ (preferred family) falls back to name id _1_ (family).

My questions was simply, can we keep "Regular" in the full name (the name id 4) for the default font in the family that has "Regular" as name id 2 (and has no name id 16 nor name 17)?
That is what

[2017-08-09 17:34] anthrotype commented on #209
For example, this is the output I get if I run `noto_lint.py` on a "NotoSansTamil-Regular.ttf" file which has "Noto Sans Tamil Regular" as its full name (name id 4) -- built with patched ufo2ft that composes full name by simply concatenating preferred family + ' ' + preferred subfamily without special-casing "Regular".

[code]

[2017-08-09 18:28] dougfelt commented on #209
Sorry, I meant name id 17.

I'm ok with using 'Regular' in the full name when there is no other style attribute.  I'll change lint.

I was attempting to say that the preferred subfamily can be empty since it falls back to the subfamily, which would be 'Regular' for a standard regular font.  Nevertheless with fallback name ID 17 is effectively 'Regular' in this case and so a full name formed by "a

[2017-08-09 19:04] anthrotype commented on #209
Ah ok, thanks for the clarification.

[2017-08-10 18:23] marekjez86 opened #341 "AssertionError: ((607, [607, 608]) while compiling static (non-variable) NotoNastaliqUrdu fonts"
source: https://github.com/googlei18n/noto-source/tree/master/src/NotoNastaliqUrdu

Note that by design NotoNastaliqUrdu is NOT interpolatable (there was some good justification for this but I don't remember :-( )

here are the files created by the fontmake
[NotoNastaliqUrdu.zip](https://github.com/googlei18n/fontmake/files/1215905/NotoNastaliqUrdu.zip)

here's the log

============= src/NotoNasta

[2017-08-10 20:22] dougfelt commented on #330
Pushed a lint fix for this in nototools.

[2017-08-10 20:22] #330 closed

[2017-08-11 13:16] marekjez86 opened #342 "KeyError: ('uni201D', 'ClassDef') when compiling https://github.com/googlei18n/noto-source/tree/master/src/NotoSerifSinhala"
KeyError: ('uni201D', 'ClassDef') when compiling https://github.com/googlei18n/noto-source/tree/master/src/NotoSerifSinhala

Source error? User error?

[code]
INFO:fontmake.font_project:Converting curves for NotoSansDisplay-ExtraCondensedExtraBold
INFO:cu2qu.ufo:New spline lengths:
1: 2210
2: 6601
3: 903
4: 215
5: 36
6: 2

INFO:fontmake.font_project:Converting curves for NotoSansDisplay-ExtraConde

[2017-08-14 14:37] anthrotype commented on #342
I cannot reproduce. If I git pull the latest `noto-source ` and run this

[code]

to build the Noto Serif Sinhala fonts, the build completes without the error.

[2017-08-14 17:17] behdad commented on #88
For gvar, MVAR, etc it's easy: for any quantity, you take all the masters having it and build a variation model for those masters.

For GPOS it's trickier since we rely on the structure of the GPOS table to match across all masters, so it's harder to have sparse intermediate GPOS that, eg, modifies one kern pair only.

[2017-08-15 17:25] anthrotype commented on #338
@madig this is fixed in glyphsLib master, will be in next release.

[2017-08-15 17:25] #338 closed

[2017-08-16 01:44] chrissimpkins opened #343 "UFO subsetting flag documentation"
Would it be possible to document the glyphsLib subset / export flag key/value strings & types that are used in your subsetter and where in the UFO source this lives so that these can be implemented directly in UFO source?  It looks like it is maybe an array of glyph paths/names in a property list under a `com.schriftgestaltung.XXX` key within the lib.plist file of UFO?

https://github.com/googlei1

[2017-08-17 14:35] anthrotype commented on #209
With the latest glyphsLib 1.8.0, the properties in the "Style Linking" section of the Instances tab are now supported.

<img width="695" alt="screenshot 2017-08-17 15 29 47" src="https://user-images.githubusercontent.com/6939968/29417373-eb0ff524-8360-11e7-8e5e-34ef2373b006.png">

To control family nameID=1, you could either set the linked style string which is appended to the family name to make

[2017-08-17 14:35] #209 closed

[2017-08-17 15:52] anthrotype opened #344 "add --remove-overlap option"
We already have a `--keep-overlap` option to skip removing the overlaps while building OTF or TTF.

The overlap removal only happens upon generating binary font formats, not when generating UFOs from glyphs or designspace input.

Sometimes it could be useful to generate instance UFOs with the overlap removal applied. We could do that by adding a `--remove-overlap` option that does that when combin

[2017-08-17 16:02] anthrotype opened #345 "add --normalize option to use ufoNormalizer"
when generating UFOs

https://github.com/unified-font-object/ufoNormalizer

[2017-08-17 16:23] anthrotype commented on #343
You can use either `com.schriftgestaltung.Keep Glyphs` (which is a list of glyph names that will be kept, the rest are dropped) in the global font's `lib.plist`, or the `com.schriftgestaltung.Glyphs.Export` boolean flag in a glyph's `lib` element.

If `com.schriftgestaltung.Keep Glyphs` key is not present or empty in the lib.plist, it's ignored (all glyphs are kept).

If `com.schriftgestaltung.Gly

[2017-08-17 16:30] chrissimpkins commented on #343
Thanks Cosimo!

To confirm that I understand, you mean like this:

#### lib.plist

[code]

where A, B, C are the names (not paths to *.glif files)?

[2017-08-17 16:38] anthrotype commented on #343
Yes

[2017-08-17 17:26] chrissimpkins commented on #343
Thanks again!  Interested in adding this to your documentation in some fashion?  Happy to PR in.  If not, I can close this.

[2017-08-17 17:33] anthrotype commented on #343
ok, if you like. So many other things need documenting. But one needs to start from somewhere, so any contribution is welcome of course.
Maybe the Github "Wiki" page could be a place to have something like a "FAQ" with things like that...

[2017-08-17 17:43] chrissimpkins commented on #343
Will do.

[2017-08-17 19:18] moyogo commented on #343
I’d rather have the documentation in the repository instead of the wiki.

[2017-08-17 19:29] chrissimpkins commented on #343
Will try to draft portion Cosimo and I discussed tonight and leave it somewhere that you can pull it in whenever / wherever convenient.

[2017-08-17 19:40] chrissimpkins commented on #343
Would a tool that automates addition and removal of these subsetting flags in UFO be of any use to anyone else?  And does this exist elsewhere?  I am giving some thought to this for our web font builds as a source modification step prior to the compilation steps.

[2017-08-17 20:31] chrissimpkins commented on #343
# FAQ

### How do I subset a font built with UFO source?

fontmake uses the [UFO lib.plist](http://unifiedfontobject.org/versions/ufo3/lib.plist/) source file to determine the glyphs to maintain within the subset font built from a given directory of UFO source.  This file is formatted as an XML property list and sits in the root of your source directory according to the UFO source specification.

[2017-08-17 20:37] chrissimpkins commented on #343
Feel free to add above wherever most appropriate.

[2017-08-18 18:31] anthrotype commented on #341
duplicate of #336

[2017-08-18 18:31] #341 closed

[2017-08-18 18:32] anthrotype commented on #342
cannot repo, pls retry with fontmake 1.3.0 and reopen if needed.

[2017-08-18 18:32] #342 closed

[2017-08-18 18:33] anthrotype commented on #335
duplicate of #336

[2017-08-18 18:33] #335 closed

[2017-08-19 20:48] behdad opened #346 "Set up Travis daily cron job to test all dependencies"
Travis (and AppVeyor?) support daily / weekly / monthly builds:
https://docs.travis-ci.com/user/cron-jobs/

We should set up a nightly one that pulls master of all dependencies and makes sure things pass...  Then we can start adding more end-to-end tests more meaningfully.

[2017-08-20 19:35] madig commented on #345
Another normalizer, amongst other tools: https://github.com/silnrsi/pysilfont

[2017-08-20 19:40] madig opened #347 "Build of custom font fails with feature file syntax error while it works in Glyphs"
1. `wget https://github.com/madig/cantarell-fonts/raw/master/src/Cantarell.glyphs`
2. `fontmake -g Cantarell.glyphs -o otf`
[code]

The same file exports without errors from Glyphs. I used #anchors in constructing e.g. `/n`, is it related to that?

[2017-08-20 20:24] anthrotype commented on #347
Can you past here line 124 of your feature file?

Possibly related to https://github.com/adobe-type-tools/afdko/issues/191

[2017-08-20 20:56] madig commented on #347
The file is only 117 lines long. The last table is (with a lot of base glyph names omitted):
[code]

[2017-08-22 16:05] chrissimpkins commented on #343
An issue with lib.plist use for this task that arose during our consideration about how to approach collaborative typeface development in UFO source among contributors who might use different font editors.

https://github.com/source-foundry/Hack/issues/277

Unclear how best to address this issue on our end.  It would be helpful to eliminate font editor specific changes to source files in a collabo

[2017-08-22 20:38] moyogo commented on #343
I'd recommend normalizing the lib.plist instead of adding it to gitignore.
You could only keep the keys you care about. You may want to make sure
you're not dropping useful keys.

On Tue, 22 Aug 2017, 17:05 Chris Simpkins <notifications@github.com> wrote:

[2017-08-22 20:55] chrissimpkins commented on #343
@moyogo thank you very much Denis.  Normalization is not a term that I am familiar with.  Can you explain what this is and what tool can be used to remove specific keys in the plist files?  I would ideally like to have contributors maintain clean lib.plist files so that we do not need to review and manage these changes upstream.   We could certainly handle this with documentation if there is a way

[2017-08-23 18:40] dougfelt commented on #209
Filed googlei18n/glyphsLib#209 to get extra feedback on how it treats glyphs files.  Not sure if I need to call it to anyone's attention.  Would like to resolve this before swatting the files.

[2017-08-29 19:56] chrissimpkins opened #348 "UFO builds from lib.plist vs. contents.plist glyph lists"
#### Build platforms/application versions:
fontmake v1.3.0 from PyPI
OS: OS X 10.12 + Ubuntu Trusty (Travis builds for both platforms)
UFO source spec v2 files

#### Request

- Consider UFO to ttf builds (and probably otf too...) from glyph lists in contents.plist rather than lib.plist

#### Issue

During a lib.plist cleanup, I removed the public.glyphOrder key/values in our source files and this

[2017-08-29 20:46] miguelsousa commented on #348
Keep in mind that if you rely on `contents.plist` alone you won't be able to control the font's glyph order. That might not be important to some people or workflows, but it surely is to others.

[2017-08-29 20:57] chrissimpkins commented on #348
@miguelsousa Thanks Miguel.  Perhaps this is pointing to an issue with the spec itself if glyph order data are important to any build processes and *only* maintained in a file that is considered an optional part of the source spec (this is an assumption, is it stored elsewhere in UFO?).  This leads to circumstances where compilers use data that may or may not be present for the build leading to th

[2017-08-30 00:27] marekjez86 opened #349 "full_name and preferred_subfamily in the font file have trailing blanks"
E <name/full_name> The full name is 'Noto Sans Myanmar Condensed SemiBold '  but was expecting 'Noto Sans Myanmar Condensed SemiBold' [marekjez86: there's a trailing blank in the end of the first string and not on the second one]
E <name/preferred_subfamily> The preferred subfamily is 'Condensed SemiBold ' but was expecting 'Condensed SemiBold' [marekjez86: there's a trailing blank in the end of t

[2017-08-30 00:43] dougfelt commented on #349
Wow, are you really seeing this text?  The two strings are the same.  I must have really messed up if I'm reporting an error on that.

Did you run this on a file that's currently in noto-fonts-alpha, so I can confirm?

[2017-08-30 00:49] marekjez86 commented on #349
The first one has a trailing blank noto_lint.py correctly observes the
difference :-)

On Tue, Aug 29, 2017 at 5:43 PM, dougfelt <notifications@github.com> wrote:

--

Marek Z Jeziorek [ 老马 ] | marekj@google.com | 312 725-6958

[2017-09-04 15:55] chrissimpkins opened #350 "ttf build from UFO does not include name table platformID = 1 records"
fontmake v1.3.0 from PyPI
OS X 10.12.5
Python v3.6.2
UFO v2 source files

When I build ttf from UFO with fontmake using the following:

[code]

the name table includes only platformID = 3 / encodingID = 1 / languageID = 1033 records.

![platformid_fontmake](https://user-images.githubusercontent.com/4249591/30033105-3e957da4-9167-11e7-86af-ab857e0189c2.png)

Validation tests in Font Book seem to in

[2017-09-04 16:14] anthrotype commented on #350
No. AFAIK, they are only needed for pre-OSX Macintosh operating systems.
I don't know exactly from which version OSX they started to support platformID=3 (Microsoft) unicode nameIDs.

This could be a typo in Apple's TrueType spec; perhaps they meant "0, 1 and _3_" instead of "0, 1, and _2_ are ignored on OS X and iOS".

PlatformID=2 is deprecated/reserved, whereas platformID=3 (Microsoft, at least

[2017-09-04 16:29] chrissimpkins commented on #350
Thanks for the response Cosimo.  This supports  the validation report on OS X.  I suspect that you are correct.  This is likely a typo in the Apple docs.

I went through numerous other fonts and they all seem to include the platformID 1 name tables.  Is there any benefit (web use, other font renderers) short of very old Mac systems where this may play a role?   If not, will close this.

[2017-09-04 16:36] anthrotype commented on #350
browsers don't read the `name` table for embedded webfonts (name and style are declared via CSS).

[2017-09-04 16:56] chrissimpkins commented on #350
Great, thanks for your help!  Will let you know if we come across any problems on any other platforms without the records.  Will close this IR.

[2017-09-04 16:56] #350 closed

[2017-09-05 07:12] davelab6 commented on #350
I heard that Mac Word 2010 needed them, and perhaps some other Carbon API
apps, but they are fading away

On Sep 4, 2017 5:56 PM, "Chris Simpkins" <notifications@github.com> wrote:

[2017-09-05 11:14] chrissimpkins commented on #350
@davelab6 ty! Not aware of any use on Linux?

[2017-09-08 11:56] behdad commented on #305
@anthrotype  We should work on this.

[2017-09-15 14:17] marekjez86 opened #351 "source or fontmake error? NotoSansCuneiform-MM.glyphs causes ValueError"
Using https://github.com/googlei18n/noto-source/blob/master/src/NotoSansCuneiform-MM.glyphs as input to fontmake

============= src/NotoSansCuneiform-MM.glyphs ==============
INFO:fontmake.font_project:Building master UFOs and designspace from Glyphs source
INFO:glyphsLib:Parsing .glyphs file
INFO:glyphsLib:Casting parsed values
INFO:glyphsLib:Loading to UFOs
INFO:glyphsLib.util:Writing master_ufo

[2017-09-15 14:35] anthrotype commented on #351
unable to repro.
I pulled the latest noto-source, did `./build setup` to ensure dependencies in the virtual environment are up to date, then run `./build src/NotoSansCuneiform-MM.glyphs`.
Both the TTF and OTF fonts were build successfully.

[2017-09-16 15:03] marekjez86 commented on #351
resolved

[2017-09-16 15:03] #351 closed

[2017-09-16 15:09] marekjez86 opened #352 "problem building NotoNastaliqUrdu: is there a way to just build two weights even if they are not interpolatable (an option to fontmake?)"
==== building src/NotoNastaliqUrdu/NotoNastaliqUrdu-MM.plist ====
INFO:fontmake.font_project:Building master UFOs and designspace from Glyphs source
INFO:glyphsLib:Parsing .glyphs file
INFO:glyphsLib:Casting parsed values
INFO:glyphsLib:Loading to UFOs
INFO:glyphsLib.util:Writing master_ufo/NotoNastaliqUrdu-Regular.ufo
INFO:glyphsLib.util:Writing master_ufo/NotoNastaliqUrdu-Bold.ufo
INFO:fontmake.

[2017-09-16 16:44] anthrotype commented on #352
duplicate of https://github.com/googlei18n/fontmake/issues/336

[2017-09-16 16:44] #352 closed

[2017-09-16 21:09] yarmola opened #353 "Naming of the master fonts"
I hit one small issue while trying to **fontmake -o variable** over **.designspace** document.

It looks that **fontmake** will generate file names for master fonts while converting from .ufo to .ttf (calling **_font_name** method in **save_otfs**) while **varLib** expects .ttf files to have the same name as source .ufo.

No problem to change naming convention for UFOs (in designspace package), bu

[2017-09-20 13:28] kalapi opened #354 "AssertionError when trying to remove overlaps"
Hello,

While trying to generate OTFs for Noto Serif Kannada from a Glyphs source (cubic outlines) I get the following error:

[code]
Any help is appreciated :)

[2017-09-20 13:45] moyogo commented on #353
Fontmake should do the right thing and use the names defined in the designspace instead of making them up everytime.

[2017-09-27 14:44] #353 closed

[2017-09-27 14:47] anthrotype commented on #353
Thanks Denis for the patch, and also thanks Yuri for trying out fontmake!

[2017-09-27 15:10] anthrotype commented on #354
Thanks Kalapi. Do you mind sending me the outline that triggered this? It this is some configuration of points that booleanOperations doesn't support, it would be best to raise a more meaningful error message. Or maybe it's something we can work around instead of raising an exception.

[2017-09-27 15:30] anthrotype commented on #354
The `AssertionError` here means that there were some open contours (i.e. ones whose starting node has type "move"). BooleanOperations currently can only perform operations on closed contours. I believe the assumption is that clients should exclude open contours from the input passed to booleanOperations.

[2017-09-27 15:44] anthrotype commented on #354
So, one way to prevent the error is that fontmake only runs booleanOperations on the contours that are actually closed, and leaves the open contours untouched. There may be good reasons to have open (i.e. unprintable) contours, e.g. a single point to anchor components in a TrueType composite glyph (/cc @moyogo).
Or would you like fontmake to silently drop them instead?
I prefer to _not_ add anothe

[2017-09-27 15:51] anthrotype commented on #354
It appears that when one uses the `BooleanGlyph` class to perform operations, the open paths are automatically closed:
https://github.com/typemytype/booleanOperations/commit/b7a067f245024a2571bc2b871b9fa57efd376aae

fontmake uses the `union` function directly on a glyph's contours, without wrapping it into a `BooleanGlyph` so that code isn't used here.

So that leaves us with three options: (1) ig